[2018-06-09 04:27] unode opened #11 "test.py shows errors but ends with success exitcode"
On my system, running with python 2.7 latest master is now giving:

[code]

In addition, despite printing errors, the script exits with success (exitcode 0).

[2018-06-09 06:19] unode opened #13 "Bioconda package"
Submitted [here](https://github.com/bioconda/bioconda-recipes/pull/9239) and waiting for 2.0.0 release to be concluded.

[2018-06-10 13:54] AlessioMilanese commented on #11
The errors are both with python 2 and 3 after commit bec670f where I change profiles default values from counts to relative abundance. Solved it with 6690190.

Solved it with da2c79b.

[2018-06-10 13:55] #11 closed

[2018-07-23 08:56] AlessioMilanese commented on #13
Version 2.0.0 is now on bioconda.
I see that it is available only for linux, but it should work for macOS as well, right?!

[2018-07-23 09:10] hjruscheweyh commented on #13
Just talked to one of the bioconda people. The reason is that "skip: True # [osx]" is set in the meta.yaml file. Whats the reason?

He also said that the meta.yaml should contain a maintainer field so that its clear who submitted this package.

[2018-07-27 08:32] AlessioMilanese commented on #13
@unode, can you change the "skip: True # [osx]" so that we can install it also on macOS?

[2018-07-29 03:17] unode commented on #13
I won't be able to test this myself, since I don't use OSX.
Regardless see https://github.com/bioconda/bioconda-recipes/pull/10125

[2018-08-25 16:57] unode commented on #13
Merged, could any of you running on OSX test it once it comes out?

[2018-08-25 17:08] AlessioMilanese commented on #13
Still doesn't work:
[code]
I also don't see the icon of OSX in bioconda:
<img width="686" alt="screen shot 2018-08-25 at 19 07 13" src="https://user-images.githubusercontent.com/16308111/44620748-27258380-a89a-11e8-9e39-18ffd0851fed.png">

maybe we have to wait that it update?!

[2018-08-25 19:06] unode commented on #13
It seems `py27_1` is all we'll get.
Since it's now packaged as `noarch` (includes MS Windows - possibly unintended).

Can you check if you can install it on any python environment or if it's restricted to Python 2.7?
If it's 2.7 only this is a bug in the bioconda infrastructure.

[2018-08-28 15:03] AlessioMilanese commented on #13
I have ```anaconda 4.2.0``` with ```python 3.5.2``` and it installed correctly.

[2018-08-28 15:04] #13 closed

[2019-01-16 05:29] Jigyasa3 opened #18 "full names of mOTU.v1.padded reference sequences"
1. **Is it possible to get the real names of the sequences in mOTU.v1.padded reference sequence file?**
For example, I want full names of the fasta headers-

etc..
I have checked this file- "All_2481_at_least_500.motu.nr.out.20180307.tsv". But it doesn't match.

2. **Which version of the mOTU.padded file was used to train the fetchM perl script to extract the marker genes?**

[2019-01-16 08:20] AlessioMilanese commented on #18
mOTUs version 1 refers to [this Nature Methods paper](https://www.nature.com/articles/nmeth.2693) and the official website is [here](http://www.bork.embl.de/software/mOTU/). This github repository is for mOTUs version 2.

The genes in mOTUs v1 are extracted from 252 Human fecal samples. First you assemble the reads into contigs and then you extract the genes (with Prodigal for example) and finally

[2019-01-18 01:22] Jigyasa3 commented on #18
Thank you so much for all the information!

[2019-01-18 09:03] AlessioMilanese commented on #18
No problem. Let me know if you have any other question. I'm closing the issue.

[2019-01-18 09:03] #18 closed

[2019-02-28 06:34] Jigyasa3 opened #19 "only 10 marker genes in mOTU_version2"
I was wondering, if  it is possible to get the remaining 30 marker genes of mOTU_version2?

[2019-02-28 07:31] AlessioMilanese commented on #19
Hi @Jigyasa3,
I'm not sure I understood the question:
- would you like to have the sequence of the other 30 MGs?
- would you like to be able to profile samples using 40 MGs instead of 10?

[2019-02-28 07:47] Jigyasa3 commented on #19
Hey Alessio
Thanks for replying. I would like to have the sequences of other 30 MGs.

[2019-02-28 09:03] AlessioMilanese commented on #19
I think you can find it in Progenomes (http://progenomes.embl.de/).
But, since it might be not so easy, I've added the genes to a ftp server:
https://www.embl.de/download/zeller/progenomes_40MGs.tar.gz (205MB).

[2019-03-01 00:05] Jigyasa3 commented on #19
Thank you so much! I really appreciate all the help! I have one more question. The marker genes from progenomes only correspond to whole genomes, and not the metagenomes. Is it possible to get the same from metagenomes?

[2019-03-01 08:34] AlessioMilanese commented on #19
From the metagenomes we extracted only the 10 MGs, hence there are not 40.

See from the [original mOTUs paper](https://www.nature.com/articles/nmeth.2693):

[2019-03-03 16:58] #19 closed

[2019-03-05 02:15] Jigyasa3 opened #20 "All_2481_at_least_500.motu.nr.out.20180307.tsv - the names of mOTU version2 references not found"
I can't find the file "All_2481_at_least_500.motu.nr.out.20180307.tsv", which was available before, to annotate the mOTU version 2 references?

[2019-03-05 06:43] AlessioMilanese commented on #20
You can find it in:
https://motu-tool.org/download.html

It's the first line.

I'm copying the ftp link also here:
https://motu-tool.org/data/All_2481_at_least_500.motu.nr.out.20180307.tsv

[2019-03-06 15:50] #20 closed

[2019-03-09 08:44] Jigyasa3 commented on #20
I am sorry to keep disturbing you. But I have checked the All_2481_at_least_500.motu.nr.out.20180307.tsv file and all the accessory files associated with mOTU.v2. But none of them have the "name" of the metagenome from which the markers were extracted from.
For example-
metaMG0001672  only has the bacteria "unknown Faecalibacterium" associated with it. Not the metagenome from which Faecalibacteriu

[2019-03-11 10:28] AlessioMilanese commented on #20
You can find this information in [this file](https://www.embl.de/download/zeller/metaMGs_2_sample.tsv.zip) (first column is the gene id and second column is the sample+scaffold information). The samples map to the [Supplementary Data 1](https://www.nature.com/articles/s41467-019-08844-4#Sec30) file of the mOTUs2 paper. Note that you might have to parse the information that you are interested in. F

[2019-03-11 13:29] YU-DENG opened #21 "MetaPhlAn like output"
Hi~

I am excited to find the mOTU to be upgraded. Right now I  have finished mOTU2 pipeline. Is there a way to  get a MetaPhlAn like output ? Since I am comparing the results using my own data from both tools. Thanks a lot!

[2019-03-11 14:55] AlessioMilanese commented on #21
Hi @YU-DENG,

You can have a similar result using the `-q` option. Example `motus profile -s test1_single.fastq -n test1 -q`, result:
[code]

Note that here there are only the species level clades (while in MetaPhlAn there are all clades).
For now there is not a one-parameter way to have the exact same result.

### =SOLUTION 1=

One solution would be to profile for every level (saving the intermed

[2019-03-11 15:10] AlessioMilanese commented on #21
### =SOLUTION 2=

You can use the `-C parenthesis` option (more information [here](https://github.com/motu-tool/mOTUs_v2/wiki/The-resulting-profile#cami-bioboxes-format--c)).

This print a result similar to the MetaPhlAn output:
[code]
where columns 4 and 5 are similar to the MetaPhlAn output, but the prefixes is missing (i.e. `k__`,`p__`, etc. are missing).

Note that with `-C` everything that do

[2019-03-12 05:22] YU-DENG commented on #21
Thanks for the prompt answer and details ! I really appreciated it!

[2019-03-14 18:19] raw937 opened #22 "profiling contigs over reads?"
Hello,

Is it possible to profile contigs over reads?

[2019-03-14 19:37] AlessioMilanese commented on #22
Hi @raw937,

Not really. We are mapping reads using bwa, which is designed for short reads.
Check out:
https://github.com/AlessioMilanese/classify-genomes

Do you have contigs or metagenome-assembled genomes?

[2019-03-14 20:03] raw937 commented on #22
Thanks for this!

I have good genome bins. This very helpful.
I am trying to find a way to convert the long contigs (>5k) into mOTUs that aren't binning well.

[2019-03-14 20:26] raw937 commented on #22
This is a cool tool "classify-genomes." I can't get the databases to download.
 python setup.py
 ------------------------------------------------------------------------------
|                           SETUP CLASSIFY-GENOMES                             |
 ------------------------------------------------------------------------------
Download the compressed motus database (~1Gb)
 954997496  [100.

[2019-03-14 20:33] AlessioMilanese commented on #22
Looking at
https://github.com/AlessioMilanese/classify-genomes/issues/1

it's because you exceed your disk quota. You would need ~1Gb of free space.

[2019-03-14 21:53] AlessioMilanese commented on #22
Issue solved in https://github.com/AlessioMilanese/classify-genomes/issues/1

[2019-03-14 21:53] #22 closed

[2019-03-15 17:03] sturne29 opened #23 "Question: What does -1 represent in output?"
I haven't been able to find this anywhere. What does -1 mean in the "consensus_taxonomy" column mean?

[2019-03-15 22:41] AlessioMilanese commented on #23
The -1 at the end of the profile represents the fraction of unmapped reads (species that exists, but we cannot measure).
If you look at [Figure 1a](https://www.nature.com/articles/s41467-019-08844-4/figures/1) of the mOTUs2 paper, the -1 would represent the reads that maps to the cluster in MG2 that is not linked.

[2019-03-16 10:37] AlessioMilanese commented on #23
Hi @sturne29,

I improved the wiki, adding more information. See
https://github.com/motu-tool/mOTUs_v2/wiki/Explain-the-resulting-profile

[2019-03-17 09:35] #23 closed

[2019-03-31 15:42] fbeghini opened #24 "Typo in the wiki"
Hi Alessio,
just wanted to point out that I've found a typo in this [wiki's page](https://github.com/motu-tool/mOTUs_v2/wiki/Parameters-to-change-the-resulting-profiles).

In the CAMI format section, the last command, the -C parameter should be `-C recall` and not `-C parenthesis`

Best,
Francesco

[2019-03-31 22:03] AlessioMilanese commented on #24
Good catch Francesco,

I corrected it now,
Thanks,
alessio

[2019-03-31 22:04] #24 closed

[2019-04-24 10:31] aistBMRG opened #25 "error when extending database with incomplete genome"
Thank you for developing this tools -- works well in our hands too.

Now, I am following your provided workflow for extending the database. However, it seems that the script throws on error when running with genomes containing not all 40 marker genes. More specifically, the vsearch step fails due to missing input file. This seems somewhat unexpected.

Would it be possible to clarify how to avoid s

[2019-04-24 12:14] hjruscheweyh commented on #25
Hi Dieter,

thanks for using the tool and the extender. Can you please send the exact command you used and the  file with the stdout log of the extender? Are you trying to add a public genome? Then please also add the link to this genome.

Thanks a lot,
Hans

[2019-04-25 12:21] aistBMRG commented on #25
Hi Hans,

Thank you for the prompt reply.

I am running the "extend_mOTUs_addGenome.sh" script with a custom genome that I know contains seven out of 10 marker genes used for metagenome profiling.

It seems that the error, expectedly, occurs at the following step:

mkdir -p $new_database_folder/dbs/$genome_ID/vsearch
while read line; do
vsearch --threads 38 --usearch_global $new_database_folder/db

[2019-04-26 13:18] hjruscheweyh commented on #25
HI Dieter

Thanks for the Feedback. We will have a look into this issue and come back to you once we have a fix. Best,
Hans

[2019-05-02 22:25] mikemc opened #26 "Error in metaSNV.py while running `motus snv_call`"
I installed mOTUs2 via `conda install -c bioconda motus`. After running `motus map_snv` on a set of 18 metagenomes, I ran `motus snv_call` and got the following error log (truncated for brevity; let me know if you want more info). I haven't had a chance to dig into what might be going wrong yet, but will try to poke around some.
[code]

[2019-05-03 12:02] hjruscheweyh commented on #26
Hi Michael
Thank you very much for the feedback. I assigned this issue to Lucas. It seems to be a small python2 artefact.

Hans

[2019-05-03 17:20] mikemc commented on #26
Thanks for your quick response! Your suggested edits did indeed fix the issue.

[2019-05-08 09:57] LucasPaoli commented on #26
Thanks for the feedback. This is issue will be closed once the new version of metaSNV is available on bioconda.

[2019-05-13 07:10] Anto007 opened #27 "Support for Pavian"
Hi,

mOTUS_v2 is cool! I like it more than the previous version. Is there any way that you could provide an additional script to make the profiling output compatible with visualization on Pavian (https://fbreitwieser.shinyapps.io/pavian/)? Many thanks!

[2019-05-13 07:39] AlessioMilanese commented on #27
Hi @Anto007,
Thanks for using mOTUs!
I think I got a similar request, see issue https://github.com/motu-tool/mOTUs_v2/issues/21.

We can add the feature to the next release!

Cheers,
alessio

[2019-05-13 08:42] Anto007 commented on #27
Many thanks! Also, why retain taxa with zero relative abundance in the final output file? In my opinion, a cleaner output file will be a one which has got only taxa that were detected (>0 abundance)

[2019-05-13 16:58] AlessioMilanese commented on #27
In that format there will be only the ones different from zero.
Check also the [-C option](https://github.com/motu-tool/mOTUs_v2/wiki/Parameters-to-change-the-resulting-profiles#cami-bioboxes-format--c)

[2019-05-14 08:29] kunstner opened #28 "Mouse metagenomic DB"
Hi,

I'm testing mOTUs2 with some mouse metagenomic data (cecum content). Do you have any plans to augment the existing database by other organisms (e.g. mouse) as well? The existing database works fine with my samples but I'm wondering whether I can increase the specificity when using a more mouse specific database.

Thanks,
 Axel

[2019-05-14 08:39] AlessioMilanese commented on #28
Hi @kunstner,

Thanks for using mOTUs!
We didn't have time to test now in mouse, it would be interesting to know how many meta-mOTUs you can profile there.

We are not working on it at the moment, but we are planning to add more biomes (like mouse, pig and dog gut, as well as environmental biomes as soil and fresh water).
I cannot give you a date now, but I can keep you updated.
For now, you can u

[2019-05-14 17:27] kunstner commented on #28
Hi @AlessioMilanese,

thanks a lot for the quick reply!

The proportion of unmapped reads is betwenn 1 and 30% (with two outliers ~55%). I think this is rather good and at least better than kraken.

Indeed, we are planning to assemble the data as well.

Looking forward to see an updated database at some point.

Best,
 Axel

[2019-05-15 08:42] hh1985 commented on #28
We have metagenomics datasets from patients. Is there any way to update the meta-mOTUs ?

[2019-05-15 09:13] AlessioMilanese commented on #28
Hi @hh1985,

there are no automatic scripts to update the mOTUs database. The procedure had many manual steps and internal checks (which are described in the [mOTUs paper, online methods](https://www.nature.com/articles/s41467-019-08844-4)), which are not easy to automate.

What data do you have? If it is stool samples, I think that the meta-mOTUs can cover the vast majority of your species. For e

[2019-05-15 10:00] hh1985 commented on #28
It sounds like updating meta-mOTUs is itself a project!

The data we have are from stool samples of cancer patients (not only CRC, but many other types of cancers).  We can check the coverage to see how mOTUs2 work on our dataset.

Thanks!

[2019-06-18 10:32] Jigyasa3 commented on #19
Dear @AlessioMilanese

Sorry to bother you again. I am not able to find the full names of refMG ids.
For example- refMG0000000.COG0552_2 corresponds to which bacterial genome in progenomes.tar.gz file?

[2019-06-18 11:06] AlessioMilanese commented on #19
Maybe this file will solve your problem:
https://zenodo.org/record/2635425#.XQjFrXtS_UI

[2019-06-18 11:18] Jigyasa3 commented on #19
thanks for the link!

This link gives- "refMG0003438.COG0018	COG0018.mOTU.v2.0005149	ref_mOTU_v2_1116"
But I want to connect the refMG0003438.COG0018 information to ">652616.PRJDB66.ERDMAN_1444     <annotation product=arginyl-tRNA synthetase " from progenomes.tar.gz file. Is it possible?

[2019-06-18 11:40] AlessioMilanese commented on #19
The gene ids contain:
[code]

where `652616.PRJDB66` is `taxonomy_id` `.` `project_id`.
From this, you can map to the ref-mOTUs (see attached [genome_to_specI.tsv.zip](https://github.com/motu-tool/mOTUs_v2/files/3301288/genome_to_specI.tsv.zip)).

I do not have a map from gene -> MGC -> ref-mOTUs, because the MGCs are not defined for the marker genes that do not belong to the 10 selected. And in a

[2019-07-09 09:12] AlessioMilanese commented on #28
I'm closing the issue and I will write some updates when we have them.

[2019-07-09 09:12] #28 closed

[2019-07-12 15:17] AlessioMilanese commented on #27
Hi @Anto007,
I implemented a new feature to print the result that should be supported by Pavian.
For now it's available only on GitHub (you need to pull the latest version), but we will soon tag a new version that will be available also on conda.

You can call the `profile` command with the option `-A` . For now it is commented only within the code, I will add more information to the wiki when we

[2019-07-12 15:17] #27 closed

[2019-07-12 15:19] AlessioMilanese commented on #21
Hi @YU-DENG ,
I implemented a new feature to print the result in a MetaPhlAn like output .
For now it's available only on GitHub (you need to pull the latest version), but we will soon tag a new version that will be available also on conda.

You can call the `profile` command with the option `-A` . For now it is commented only within the code, I will add more information to the wiki when we tag th

[2019-07-12 15:19] #21 closed

[2019-07-14 08:10] Anto007 commented on #27
Many thanks but did you happen to try res1.motus on Pavian? I think the format is still unsuitable. I ran your exact new command-line and tried out the test output file at https://fbreitwieser.shinyapps.io/pavian/ and I got this error message: "The following files did not conform the report format:
- mOTUs_test_taxonomic_profile.report"

[2019-07-14 08:16] Anto007 commented on #27
Wonder if this has anything to do with your -A output not appearing in sorted descending order in terms of relative abundance for all taxonomic ranks. For example, shouldn't "k__Bacteria|p__Firmicutes	0.6479060231" appear at the very top of the p__ (phylum) taxonomic rank followed by "k__Bacteria|p__Actinobacteria	0.2200557062"?

[2019-07-14 08:27] Anto007 commented on #27
Here's a sample metaphlan2 output file that worked on Pavian
[Corr_clean_phiclean_10_8_profiled_metagenome.txt](https://github.com/motu-tool/mOTUs_v2/files/3389620/Corr_clean_phiclean_10_8_profiled_metagenome.txt)

[2019-07-14 09:18] AlessioMilanese commented on #27
Hi @Anto007,
The problem is that Pavian expects this header:
[code]

If you change the motus result from:
[code]
to:
[code]
Then it will work.

I wrote to the developer of Pavian to see if it wold be possible to add mOTUs 2, see: https://github.com/fbreitwieser/pavian/issues/58

Note1: mOTUs results are relative abundances that sum up to 1, while for metaphlan they sum up to 100.
Note2: I changed

[2019-07-14 10:14] Anto007 commented on #27
Works nicely when the output file's header is changed to metaphlan2-style. Thank you so much!

[2019-07-30 21:54] YaohuaYangVEC opened #29 "Very few reads can be mapped"
Dear mOTUs2 developers:

Currently I've been trying to use mOTUs2 for microbial profiling of my own oral shotgun metagenomic sequencing data. It's very wired that for all my samples (~300), only very few reads could be mapped. For example, for a sample with ~200,0000, only ~300 reads could be mapped to the reference. My command line is as followings:

motus profile -f sample1_1.fastq.gz -r sample1

[2019-07-30 21:56] YaohuaYangVEC commented on #29
To make it more specific:

For example, for a sample with ~200,0000 **non-human reads**, only ~300 reads could be mapped to the reference.

Yaohua

[2019-07-31 07:35] AlessioMilanese commented on #29
Hi @YaohuaYangVEC,

I'm happy to hear that you are interested in using mOTUs2. So first I can suggest you to read [here](https://github.com/motu-tool/mOTUs_v2/wiki/FAQ#1-why-just-few-reads-map-in-my-profiles).

Second, can I ask you to send me the resulting profile of one or two samples so that I can have a look?

Cheers,
alessio

[2019-07-31 15:52] YaohuaYangVEC commented on #29
Hi Alessio,

Thank you so much for this quick response!

But the problems I met are probably not from the tips you pointed out in the FAQ. Please see below:

1. The mOTUs profiler is filtering out all the reads that map with less than 75 nucleotides (-l 75). For example, with old samples, the fastq reads were on average of length 50, and in this case they would all be filtered out. **For all of my

[2019-07-31 15:54] YaohuaYangVEC commented on #29
Hi Alessio,

I'm sorry that I gave you so many details but I meant to make sure I described the issues specifically.

Thank you again for your patience!!

Best,
Yaohua

[2019-07-31 16:19] AlessioMilanese commented on #29
No problem,
I see in mouthwash2 that there are 15,615 reads mapping, of which
- 12,061 map to ref-mOTUs (77%)
- 1,860 map to meta-mOTUs (11%)
- 1,694 map to -1 (12%)
This is more or less in line with what we see for our data (see [here](https://www.nature.com/articles/s41467-019-08844-4/figures/1))

For mouthwash1, there are 372 reads in total:
- 305 map to ref-mOTUs
- 25 map to meta-mOTUs
- 42 ma

[2019-07-31 16:31] YaohuaYangVEC commented on #29
Thanks for this quick response.

Do you think ~0.055% of mapped reads for mouthwash2 and ~0.022% of mapped reads for mouthwash1 are acceptable? These will mean that nearly all of reads are discarded. And statistically, such low proportion may be treated as random errors. This is my naive opinion.

Thanks!!

Yaohua

[2019-07-31 21:31] AlessioMilanese commented on #29
Many of the reads are not used for profiling, it's correct.
Maybe another thing to consider: did you remove human reads?

We don't take random reads, we map all of the reads to 10 single-copy protein-coding marker genes; and we filter them based on how good they map. The measure that you get at the end represents an estimation of the prokaryotic cell counts in your sample.
Looking at simulated met

[2019-07-31 21:45] YaohuaYangVEC commented on #29
Thanks a lot!

For my two oral samples, yes, we did remove human reads.

Thanks!

Yaohua

[2019-08-02 16:54] #29 closed

[2019-08-07 22:00] sturne29 opened #30 "Surprising results - No unmapped reads"
Not a bug or an issue as such, but I wanted some input on some results I got recently. I was using the tool with all default settings to profile several freshwater aquatic samples (sediment and water). One of my sediment samples had no unmapped reads, which is surprising because:

- It was a biological replicate and the other replicates from the same sampling time and condition did have unmapped r

[2019-08-08 08:17] AlessioMilanese commented on #30
Hi @sturne29 ,

I'm happy to hear that you are interested in using mOTUs2. We didn't create mOTUs specifically for fresh water, so some species might be missing. If you want to play with the parameters, I would suggest you to read [here](https://github.com/motu-tool/mOTUs_v2/wiki/Increase-precision-or-recall).

But, my guess is that this "problematic" sample has few reads and hence few are mapping

[2019-08-12 19:03] sturne29 commented on #30
Thank you for the insight! I may try some different settings, but I might need to try something else. I really appreciate the ease of use and clarity of output from this tool, and if there's ever an update that includes more freshwater or other environmental habitats I'd love to give it another shot.

The sample itself seems to be about the same quality as my other samples after QC and trimming/lo

[2019-08-12 19:03] #30 closed

[2019-08-13 07:14] AlessioMilanese opened #32 "Error with CAMI result"
When profiling a sample from the cami2 challenge dataset, sometimes there is the following error:
[code]

Where `Bacteria` is printed two times and `Archaea` (`12.594433619830488` abundance) is missing.

Call:
[code]

Not clear if the error appears only with `-C recall`.
The error is probably in `bin/print_CAMI.py` at [line 266](https://github.com/motu-tool/mOTUs_v2/blob/35e514140554bf7b8a54c7d58e

[2019-08-15 09:13] AlessioMilanese commented on #32
Solved here:
https://github.com/motu-tool/mOTUs_v2/commit/f77c42bc21960977ea63ea44498fced02e1c4f69

[2019-08-15 09:13] #32 closed

[2019-08-17 06:52] Jigyasa3 opened #33 "Is it possible to use fasta files instead of fastq files and get the number of marker genes assigned to it?"
Hey @AlessioMilanese

I wanted to ask if its possible to do the following-
a) Use fasta files (contigs/MAGs) rather than fastq files to get the relative abundance information?
b) The final output is relative abundance information of bacterial taxa, is it also possible to get the number of marker genes associated with the bacterial taxa.

For example,
Current output-
**Taxonomy                Relat

[2019-08-17 07:21] AlessioMilanese commented on #33
Hi @Jigyasa3,

a) you would like to add a MAG to the database and be able to profile it? In this case, you can check the augmentation script at https://motu-tool.org/ under INSTALLATION.

[2019-08-17 08:22] AlessioMilanese commented on #33
b) you need to use the `-M` option to save the read count per marker gene cluster (MGC), there are maximum 10 MGC per mOTU. Additionally, from the mOTUs database (https://zenodo.org/record/3366460) you need:
1. `db_mOTU_MAP_MGCs_to_mOTUs.tsv` to map the MGCs produced by `-M` to the mOTUs,
2. `db_mOTU_taxonomy_ref-mOTUs.tsv` and `db_mOTU_taxonomy_meta-mOTUs.tsv` to have the taxonomy annotation of t

[2019-08-17 14:19] Jigyasa3 commented on #33
Hey @AlessioMilanese
Thank you for replying.
As for a), I checked the extend_mOTUs_DB scripts. That's not what I am looking for. I was wondering if its possible to use the original script on fasta files rather than fastq files. I want to find the taxonomy of metagenome bins using marker genes. The bins are in fasta format, already extracted from the reads and scaffolds (using CONCOCT software).

A

[2019-08-17 18:15] AlessioMilanese commented on #33
For this you can use:
https://github.com/AlessioMilanese/classify-genomes

[2019-08-18 10:40] Jigyasa3 commented on #33
Thank you! That's exactly what I was looking for.

[2019-08-27 22:35] mikemc opened #35 "Phylogeny of the mOTUs?"
Is a phylogeny with all of the mOTUs available? I read that one was created for the mOTUs2 paper, but didn't see it online or in the repository. If not, then I'll suggest providing a phylogeny for the current set of mOTUs as a very useful enhancement!

[2019-08-28 07:56] AlessioMilanese commented on #35
Hi @mikemc,

Thanks for your interest in mOTUs.
A phylogenetic tree for mOTUs version 2.0.0 is already available at motu-tool.org under DATA.
We will provide a new phylogeny for the new set of mOTUs soon.

[2019-08-29 09:13] ryo-aoki3 opened #36 "What does mean the last row of output ?"
Hi.

I run motu profile and got the output file.
The last row of output files had no taxonomic information as described below
What does it mean ?

When the value of the last row was omitted, sum of the abundance was less than 1.
How shold I treat thes values ?
[code]

[2019-08-29 12:20] AlessioMilanese commented on #36
Hi @ryo-aoki3,
Thanks for your interest in mOTUs.
Check:
https://github.com/motu-tool/mOTUs_v2/wiki/Explain-the-resulting-profile
In particular the last paragraph will explain the -1.

[2019-09-11 18:16] #36 closed

[2019-09-11 18:16] #33 closed

[2019-10-02 13:13] Anto007 opened #37 "Quick question regarding identification of eukaryotes"
If my understanding is correct, mOTUs2 only detects prokaryotes and not any of the eukaryotes; right?

[2019-10-02 13:23] AlessioMilanese commented on #37
That's correct (bacteria and archaea).

[2019-10-02 13:26] Anto007 commented on #37
Many thanks for your super-quick response as always!

[2019-10-02 13:29] AlessioMilanese commented on #37
no problem. I'm closing it.
Cheers,
alessio

[2019-10-02 13:29] #37 closed

[2019-10-30 20:34] angelovangel opened #38 "Classify Nanopore reads?"
Hi,
what do you think about using mOTUs2 for profiling Nanopore reads?

[2019-10-30 23:30] AlessioMilanese commented on #38
Hi Angel,
I'm happy to hear that you are interested in using mOTUs2.
We are using bwa to map (short) reads to the mOTUs marker gene database (sequences of ~2,000 nucleotides).
With long reads (as in the case of Nanopore), this method would not work. I think a better approach would be to extract the marker genes from the reads and map them to the mOTUs marker genes (see https://github.com/AlessioMi

[2019-10-31 16:07] mikemc opened #39 "Possible to obtain percent nucleotide divergence from `motus svn_call` output?"
I am trying to determine whether some mOTUs in my samples have more diversity within them than others. In particular, I would like to be able to compare the percent nucleotide divergence (number of SNVs per bp) between two samples that I see for mOTU 1 to what I see for mOTU2. It seems like the distances returned by `motus snv_call` are not suited for this analysis, since they seem to be normalize

[2019-11-06 12:31] LucasPaoli commented on #39
Hi Mike,

The distances themselves cannot be converted back to the information you are looking for.

However, if you run `motus snv_call` with the `-k` option, it will keep the intermediary files.

With that you can (1) either parse the filtered output for the number of SNVs per mOTU or (2) run:
`python /path/to/metasnv/metaSNV_DistDiv.py --filt /path/to/snv_call_output/filtered-m5-d10-b80-c5-p0.9

[2019-11-13 22:07] jzrapp opened #40 "help with installation - SSL: CERTIFICATE_VERIFY_FAILED"
Hi, I'm following the installation wiki and ridiculously enough struggle already with the first step. I receive this error:
[code]

[code]

During handling of the above exception, another exception occurred:
[code]

Have you seen this before? Is there an easy fix? Thanks a lot!

[2019-11-13 22:17] AlessioMilanese commented on #40
Hi @jzrapp,
Thanks for your interest in mOTUs!

It seems that the issue is related to MacOS and the python cerificates, checking [this post](https://stackoverflow.com/questions/50236117/scraping-ssl-certificate-verify-failed-error-for-http-en-wikipedia-org) it seems that you can solve the issue as follow:

Let me know if this works.

[2019-11-13 22:22] jzrapp commented on #40
Wow, I really appreciate your quick help on that! The setup is running now! Thanks!

[2019-11-13 22:22] #40 closed

[2019-11-14 23:07] jzrapp opened #41 "tax level clarification"
Hi again!

I have a quick question regarding the selection of tax level. Is it correct that this is a consensus taxonomy, and if I leave it at default level "species" , I will likely end up with fewer reads being classified than when changing it to class or phylum? Sorry, if this is obvious... I'm studying an environment for which I expect a big fraction of "unknown", and my test run resulted in ~

[2019-11-15 09:34] #38 closed

[2019-11-15 10:11] AlessioMilanese commented on #41
Hi @jzrapp ,

I would run with the `-c` option to have read counts instead of relative abundances.

So, mOTUs is basically mapping reads to 10 marker genes (MGs). These marker genes have the property of being universal and present in single-copy. By mapping the reads and taking the median read count across genes that belong to the same species, we have an evaluation of the cell counts per species:

[2019-11-15 10:16] AlessioMilanese commented on #41
Note that since the MGs are universal, we can extract them also from metagenomic samples (meta-mOTUs).
Now, some considerations:
- we build the meta-mOTUs on Human associated biomes and Oceans, if you are profiling a sample that is not related to those (for example soil), then you will profile only ref-mOTUs and miss many of the unknown species.
- the reads that you use are only the ones that map

[2019-11-15 10:34] AlessioMilanese commented on #41
Actually, we map reads at species level. If you require phylum annotation (`-k phylum`), then we merge the read counts from species that are in the same phylum. This means that the read counts at species level and phylum level is exactly the same.

If it is not human associated or from ocean, then also mOTUs is missing some species. Note that we are still able to profile species that there are in

[2019-11-15 19:08] jzrapp commented on #41
Thanks a lot, Alessio! This was helpful! I very much appreciate your support!

[2019-11-15 19:08] #41 closed

[2019-11-16 20:16] mikemc commented on #39
Thanks for you advice Lucas. I wasn't able to get your choice (2) to work, as I get the errors
[code]
and can't seem to tell metaSNV_DistDiv.py where these files are (they are in the snv_call_output/ folder), and copying them into the filtered-m5-d10-b80-c5-p0.9 folder didn't make a difference.

But I've decided for my project to work with the BAM files produced by motus map_snv to do my own genot

[2019-11-16 20:16] #39 closed

[2019-11-16 21:12] mikemc opened #42 "Recommended usage with paired-end reads"
The paper and wiki say that reads should be appropriately quality controlled. Do you recommend a particular filter-and-trim strategy for paired-end Illumina reads that works well with mOTUs2? Also, the wiki gives two different commands for profiling with paired-end reads:

[code]

[code]

Can you clarify what is happening in the second case (what is in `single_reads.fq` and how is it being used wi

[2019-11-17 11:12] AlessioMilanese commented on #42
Hi @mikemc,
Thanks for your interest in mOTUs.

So, you have paired-end reads (forward and reverse). Some reads are of low quality and would be better to either remove them or trim the bases of low quality.

You can use [trimmomatic](http://www.usadellab.org/cms/?page=trimmomatic) to filter and trim reads. Note that if you remove one read from the forward file, then the corresponding read in the r

[2019-11-17 15:08] mikemc commented on #42
I see, thanks for the clarification! Does the mapping done by `motus profile` use the paired-end information, or would the results be the same if the forward and reverse reads were filtered independently (losing the paired correspondence and keeping reads where the mate was discarded) and then passed to mOTUs with
[code]

[2019-11-17 20:13] AlessioMilanese commented on #42
mOTUs profile use paired end information when mapping the reads.

It helps to assign reads to map to multiple species. For example, if *for_read* map equally well to *species_1* and *species_2*; and *rev_read* map equally well to *species_2* and *species_3*. Then we know that the reads comes from *species_2*.

[2019-11-18 21:40] mikemc opened #43 "Problem with the Map_snv wiki page"
Currently the [Map_snv wiki page](https://github.com/motu-tool/mOTUs_v2/wiki/Map_snv) is mostly a direct copy of the [Map_tax](https://github.com/motu-tool/mOTUs_v2/wiki/Map_tax) wiki page, and all of the commands it shows use `motus map_tax` instead of `motus map_snv`.

[2019-11-18 22:16] mikemc commented on #42
Got it, thanks.

I'm interested in whether you think trimming and filtering is necessary (beyond removing any adapter sequences), and if so what parameters (e.g. for trimmomatic) you use in your own analysis or in the benchmarking datasets from the mOTUs2 paper. The BWA creator has suggested that [quality trimming is not necessary for BWA-MEM](https://sourceforge.net/p/bio-bwa/mailman/message/3202

[2019-11-19 09:03] AlessioMilanese commented on #43
Good catch. Corrected it now.
Cheers,
alessio

[2019-11-19 09:03] #43 closed

[2019-11-19 12:53] AlessioMilanese commented on #42
It doesn't make much of a difference to trim reads. For example, here I evaluated with ~100 samples with mOTUs V2. Changing -g has a bigger effect than trimming.
<img width="500" alt="diference_trimming" src="https://user-images.githubusercontent.com/16308111/69148022-a45a9b00-0ad3-11ea-9a4d-054bfa1c8938.png">

[2019-11-19 13:14] AlessioMilanese commented on #42
I used the following parameters for trimmomatic:
[code]
which are also used in their website.

[2019-11-19 15:42] mikemc commented on #42
Great, thanks again for the info. That answers my questions so I'll go ahead and close the issue.

[2019-11-19 15:42] #42 closed

[2019-11-29 16:29] lsayaved opened #44 "Problem when adding my own genomes to the reference db"
Hi Alessio,
I am trying to add my own genomes to the database, but I can't run the script extend_mOTUs_addGenome.sh successfully because the file mOTU.v2b.nr.padded.udb is missing from the db folder. Thanks for your help!
Lizbeth

[2019-12-01 10:08] hjruscheweyh commented on #44
Hi Lizbeth

There are still some inconsistencies between database v2.1.x. and v2.5.x. My guess is that you're using v2.5.x

I will try to fix this next week and will release an `v2.1.x_extender` and an `2.5.x_extender`.

Hans

[2019-12-06 12:26] hjruscheweyh commented on #44
Hi Lizbeth

We still have some issues regarding the new version of the extender. I will try to fix it as soon as a I can and will let you know once we have a workable solution.

Hans

[2019-12-10 13:35] theavanrossum opened #45 "Taxonomic annotation of mOTUs in v2.5"
Thanks for the great tool!

I've noticed that a mOTUs cluster that had a species name in v2.0 now has a domain level name in v2.5 : `Enterococcus faecalis [ref_mOTU_v2_0116]` in motus2.0 has become `Bacteria sp. [ref_mOTU_v25_00318]` in motus2.5.

Through discussion with Alessio, he explained that this is due to the big increase in the number of references in v2.5. Because of this increase, the cl

[2019-12-10 13:49] AlessioMilanese commented on #45
Hi Thea,

Thanks for bringing this up. I think it makes sense, for example I got asked a couple of time why *E.coli* is not in their profiles.

As a first note, you can use `-u` to get the name of all the species that are in a ref-mOTU cluster. This doesn't really solve the problem, but would help to get the information that you added in your previous comment.

[2019-12-10 14:10] AlessioMilanese commented on #45
To have an idea of the number of ref-mOTUs within case 1 vs 2|3 you can check the following graph:

![incongruences](https://user-images.githubusercontent.com/16308111/70536236-a22dae80-1b5e-11ea-965a-558014f98397.png)

Case 1 would belong to the gray "Unnamed clade", while case 2|3 belong to yellow "Merge" and red "Merge and split".

Note that since human gut is highly studied, there are more rep

[2019-12-10 14:20] cmfield commented on #45
Just a comment on _E. coli_: when I took all the associated NCBI tax_ids for the species and cross-referenced where the genomes with those tax_ids were in Freeze 12, I found they mapped to 4 different SpecI clusters. SpecI_95 is the primary _E. coli_ cluster but I suspect that some other genomes are incorrectly labelled in NCBI and end up in the other clusters.

[2019-12-10 14:25] AlessioMilanese commented on #45
One solution can be to identify the most abundant ref-mOTUs in human gut and manually curate these.

[2019-12-10 14:40] unode commented on #45
Is this something that could be improved by complementing the current annotation with an NCBI taxonomy alternative? I'm thinking specifically about https://gtdb.ecogenomic.org/ that tried to consolidate taxonomy and genetic distance, but wonder if there are similar efforts out there.

As I understand, the main source of inconsistency is the fact that `SpecI` are defined based on genetic distance a

[2019-12-11 10:30] hjruscheweyh commented on #44
Hi Lizbeth

We finished the coding and will perform some final testing. I will keep you posted.
Hans

[2019-12-15 06:56] PandengWang opened #46 "Can not download db_mOTU_v2.5.1.tar.gz"
Hi, @AlessioMilanese
Thanks for this useful tool!
I can not download the database from https://zenodo.org/record/3366460/files/db_mOTU_v2.5.1.tar.gz, when I tried to install motus.

Could you provide another web link, such as figshare, to download this database?

Thanks.
Pandeng

[2019-12-15 09:11] AlessioMilanese commented on #46
Hi Pandeng,
Thanks for using the tool and reporting the issue.

Can you copy here the error that you got when running `python setup.py`?

I would prefer to solve the issue with Zenodo. First, because it's embedded in the `setup.py` script and second, because if we put it on figshare, then we have to keep also that update.

[2019-12-15 09:38] PandengWang commented on #46
Thanks so much for your quickly reply.
It didn't throw an error, but after downloading a few kb, the download speed began to drop to 0 kb/s.
I tried to download this database using  "Internet Download Manager" software and it also didn't work.
I'm in China. I'm doubting whether the download request will be automatically blocked by this website.
So, I would appreciate very much if you could provide

[2019-12-15 10:47] AlessioMilanese commented on #46
I added it to a ftp server.
Can you please change `setup.py` at line 15, from:
[code]
to:
[code]

[2019-12-15 11:44] PandengWang commented on #46
Problem is resolved.
Thanks so much!

[2019-12-15 11:44] #46 closed

[2019-12-16 12:58] hjruscheweyh commented on #25
Hi Dieter

We have updated the extender software to work with the new database structure introduced in version 2.5. We believe that we also fixed your bug. Let me know if the issue persists.

hans

[2019-12-16 12:58] hjruscheweyh commented on #44
Hi Lizbeth

The extender for the v2.5 was released today. Please check if this solves your issues.

Hans

[2019-12-27 13:05] hjruscheweyh commented on #44
Closing this issue. Let me know if you continue having issues.

[2019-12-27 13:05] #44 closed

[2019-12-27 13:05] hjruscheweyh commented on #25
Closing this issue. Let me know if you continue having issues.

[2019-12-27 13:05] #25 closed

[2020-01-14 09:01] EllenOldenburg opened #47 "Own Database"
Is it possible to generate our own database if we want to use a very specific dataset with particular marker genes?

[2020-01-14 12:32] AlessioMilanese commented on #47
Hi @EllenOldenburg,

Thanks for your interest in mOTUs!

In order to use your own genes, you need to change some file in the directory `db_mOTU` (created by `setup.py`).

Before going there, it need to be clear what is the difference between genes (often refer to MG for marker gene), marker gene clusters (MGCs) and mOTU:
- a *MG* or *gene*, refer to the sequence of only one gene (from one genome).

[2020-01-14 12:39] AlessioMilanese commented on #47
Here is a description of the files in the database:

| File name | Description | needed to run `motus profile`? |
| --------- | ----------- | ------------------------------ |
|README | Information about the database | no|
|db_mOTU_DB_CEN.fasta | Padded gene sequences used for `motus snv_call`. It contains only the centroid sequences (so one sequence per MGC). | no|
|db_mOTU_DB_CEN.fasta.amb | Crea

[2020-01-14 12:42] AlessioMilanese commented on #47
Some notes:
- when I say "no" in the third column of the previous comment, I mean that `motus profile` is not using this file, but it need to be present for the computation (it can be empty);
- if you extract genes from genomes, than you can avoid to have meta-mOTUs, and hence the file `db_mOTU_taxonomy_meta-mOTUs.tsv` can be empty.

[2020-01-21 09:12] AlessioMilanese commented on #47
I will close the issue.
Fell free to re-open it if you need more help.

[2020-01-21 09:12] #47 closed

[2020-01-22 07:22] handibles opened #48 "show read fate - headers from fastq"
Hey devs,

Thanks for all the work on this. I'm checking the fate of the ```fastq``` reads moving through mOTUs (i.e., which specific reads are assigned, which are not etc.), so interested in the headers from the fastq input.

These headers make up the bottom 99% of the BAM/SAM file and can be obtained as below - but could this header output be set as a flag during the pipeline? Or perhaps in the

[2020-01-22 10:00] AlessioMilanese commented on #48
Hi @handibles,

Thanks for your interest in mOTUs!

If I understand correctly, you are suggesting how to improve the tool/wiki.

This depends on how many reads there are in the fasta file. With few reads, then yes the majority is header.

It would be possible to do it, but this is a standard format (BAM or SAM). Printing only the reads would make the file invalid. It's more clean to save a correct

[2020-01-22 17:08] handibles commented on #48
Ha, nice!

Totally agree, the last thing we need is invalid files being output into the workflow. However, sometimes it is useful to be able to  (e.g.) easily export all the reads that weren't assigned, to be further considered etc.

Anyone who is interested in scrutinising their reads further could try web-searching for samtools or e.g. see [the samtool & SAM format guide](https://samtools.github

[2020-01-23 16:41] handibles commented on #48
Apologies for the dread return.

Realised after some more digging that those outputs don't return the output I expected. To clarify:

1. ```samtools view -f 4 test1.sam``` should return all reads _not_ aligned from a BAM/SAM file - however the BAM/SAM file output through BWA only reports how/where reads aligned to references. I know that I could get the unaligned by subtracting the aligned, but is

[2020-01-27 12:40] AlessioMilanese commented on #48
So, we parse the result from `bwa`. Here is a brief description of what happen in `motus map_tax` (it's the first step, i.e. mapping and filtering the reads) [check `bin/runBWA.py`]:

1. we map reads (for and rev are map separately)
2. we add information of the lane and type of read. For example, if a read header is `@read1`, then the read is changed to something like `read1.lane0.single`
3. we fi

[2020-01-27 12:59] AlessioMilanese commented on #48
It is not so easy to understand exactly what happen of the reads, because at certain point we abstract from the single reads and we have just read counts for MGCs, and do some counts/split on that.

That said, all the reads produce by `motus map_tax` or `motus profile -I` are used in the profiler. In 90% of the cases the best match is the one used (unless there are multiple mappers/forward and rev

[2020-02-13 08:38] AlessioMilanese opened #49 "issue with old versions of `samtools`"
When saving the sam/bam file parsed from `bwa` we add three lines:
[code]

Old versions of samtools (tested with `0.1.19-44428cd` from 2013) are complaining that they should be tab separated (instead of being separated by spaces as it is now):
[code]

This is not an issue with newer versions of samtools (tested with `1.9 (using htslib 1.9)` from 2018).

No action needed. Just added it here to be a

[2020-02-13 08:38] #49 closed

[2020-04-15 16:56] AlessioMilanese commented on #45
There are more inconsistencies with mOTUs 2.5, compared to mOTUs 2.0 because there are more genomes within each mOTU. Some of the new genomes have a wrong annotation, and hence two corresponding mOTUs (from 2.0 and 2.5) might have a different annotation.

Number of merge inconsistencies (like `Rhodobacteraceae genus [Rhodobacter/Paenirhodobacter]`):
| Level  | Number of inconsistent mOTUs | Percen

[2020-04-20 12:00] AlessioMilanese commented on #45
The number in the previous comment are an overestimation. Instead of 272 genus level inconsistencies, there are 91.
Here is a link to the annotation of the problematic ref-mOTUs (/specI):
https://docs.google.com/spreadsheets/d/1vMBFckMLDLYipW-1Jzw2jYMMfkOl5Bkcp3G65gsfOug/edit?usp=sharing

[2020-05-04 14:31] max1c opened #50 "[E::main] Try to download again the motus profiler"
mOTUs 2.5.1 installed via conda.

$ motus profile -f 101L_pe.fq.1.gz -r 101L_pe.fq.2.gz -s 101L_se.fq.gz -o 101L.motus -n 101L -t 32 -c -k species
[E::main] Error loading file: /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/db_mOTU_versions
[E::main] Try to download again the motus profiler

I was also trying to run the tests from: https://motu-tool.org/tutorial.html
All of the tests using "test1_sin

[2020-05-04 14:45] AlessioMilanese commented on #50
Hi @max1c,

Thanks for your interest in mOTUs.

All of the tests using "test1_single.fastq" run fine. But I cannot find "sample_R1.fq.gz" or "test2_for.fastq" files to run all of the tests.

That sounds weird. The error that you get is related to the fact that the you cannot load part of the database. If the database has not been downloaded properly by bioconda, you should get this error always, a

[2020-05-04 15:03] max1c commented on #50
Thanks for the reply @AlessioMilanese
Here is the result:

$ motus profile --test
 ------------------------------------------------------------------------------
|                               TEST MOTUS TOOL                                |
 ------------------------------------------------------------------------------

1-- ran setup.py: done

2-- Tools and versions:
- python:    correct
- bwa:

[2020-05-04 15:27] AlessioMilanese commented on #50
Ok, sorry. I need you to run another test!

Can you copy the attached file ([test.txt](https://github.com/motu-tool/mOTUs_v2/files/4575528/test.txt)) and then move it to where you want to execute it and in the terminal type:
[code]

[2020-05-04 15:50] max1c commented on #50
`which motus? --------------------------------------
/apps/motus/2.5.1/bin/motus
Test --------------------------------------
 ------------------------------------------------------------------------------
|                               TEST MOTUS TOOL                                |
 ------------------------------------------------------------------------------

1-- ran setup.py: done

2-- Tools

[2020-05-04 15:55] AlessioMilanese commented on #50
Ok, I see that you can run mOTUs, and you can run also for and rev.

Your command was:
[code]

Can you try to remove the last option, and have:
[code]
What happen when you run that?

[2020-05-04 15:58] max1c commented on #50
Still the same:

$ motus profile -f 101L_pe.fq.1.gz -r101L_pe.fq.2.gz -s 101L_se.fq.gz -o 101L.motus -n 101L -t 32 -c
[E::main] Error loading file: /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/db_mOTU_versions
[E::main] Try to download again the motus profiler

[2020-05-04 16:04] AlessioMilanese commented on #50
Ok, maybe it's an issue with the compressed file.
Can you try to download the attached file ([raw_reads_2.fastq.gz](https://github.com/motu-tool/mOTUs_v2/files/4575709/raw_reads_2.fastq.gz)).

and run:
[code]

[2020-05-04 16:05] max1c commented on #50
Seems to work. Very strange indeed.

$ motus profile -s raw_reads_2.fastq.gz -o test.motus
[main]  MAP_TAX -----------
[main] Number of detected lanes: 1
[main] Run bwa on lane 1
 [map_db](map single reads) 1.67 sec
[main] Total time map_tax: 1.67 sec
[main]  CALC_MGC -----------
[main] Minimum alignment length: 75 (average read length: 97)
 [calc_mgc](parse 1 sam/bam file) 2.17 sec
 [calc_mgc](ge

[2020-05-04 16:09] AlessioMilanese commented on #50
I've never seen something like this!
Can you run:
[code]
So we see if with minimum commands we get the same error.

[2020-05-04 16:18] max1c commented on #50
$ motus profile -s 101L_se.fq.gz -o test
[E::main] Error loading file: /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/db_mOTU_versions
[E::main] Try to download again the motus profiler

$ file 101L_se.fq.gz
101L_se.fq.gz: gzip compressed data, from Unix

$ du -sh 101L_se.fq.gz
779M   101L_se.fq.gz

[2020-05-04 16:38] AlessioMilanese commented on #50
Ok, can I ask if you can try:
[code]

[2020-05-04 16:39] max1c commented on #50
$ zcat 101L_se.fq.gz | head -n 4 > test
$ cat test
@CL100108449L2C001R001_440/2
AGTTTAGTGGAGAGAATTTGTTAGCTGAAAAACTTTGGCCATTTTTTTAAGATAAATAAATTGTTGCTACTTTGGTTATTGTTTAGAGCTGAGTCTT
+
FFFFFFFF=FEFFFEAFFFFEFFFFFFFFFFFFFF?FFF;EFFFFFFBEFFFFFEGFFFFFFFFFFFFFFFFFFFFFGFFFFFG@FEFFFGFFFF@E

$ gzip test
$ motus profile -s test.gz
[E::main] Error loading file: /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/db_mOTU_

[2020-05-04 16:42] AlessioMilanese commented on #50
And if you try:
[code]

[2020-05-04 16:43] max1c commented on #50
Same thing:

$ zcat 101L_se.fq.gz | head -n 4 > test
$ motus profile -s test
[E::main] Error loading file: /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/db_mOTU_versions
[E::main] Try to download again the motus profiler

[2020-05-04 16:44] AlessioMilanese commented on #50
That is funny. Can you try to send me the file (`test` of the last comment)? (at milanese@embl.de)

[2020-05-04 17:08] max1c commented on #50
Sent you an email also attaching here.
[test.txt](https://github.com/motu-tool/mOTUs_v2/files/4576085/test.txt)

[2020-05-04 18:29] AlessioMilanese commented on #50
It works fine for me. Maybe try to re-install motus.
[code]

[2020-05-04 20:28] max1c commented on #50
[code]
Not sure what to try here.

[2020-05-04 22:34] AlessioMilanese commented on #50
What you have if you do:
[code]

[2020-05-04 23:50] max1c commented on #50
$ ls /apps/motus/2.5.1/share/motus-2.5.1/db_mOTU/
db_mOTU_bam_header_CEN    db_mOTU_DB_CEN.fasta.annotations  db_mOTU_DB_NR.fasta.amb  db_mOTU_genes_length_NR                db_mOTU_padding_coordinates_NR.tsv          db_mOTU_test
db_mOTU_bam_header_NR     db_mOTU_DB_CEN.fasta.bwt          db_mOTU_DB_NR.fasta.ann  db_mOTU_MAP_genes_to_MGCs.tsv          db_mOTU_taxonomy_CAMI.tsv                   d

[2020-05-05 08:10] AlessioMilanese commented on #50
That looks good, there is no issue there.

Let's try to install it with github and see if the issue remains. Move to a dir where you can install motus and type:
[code]

Then you can run with:
[code]

So that you are sure that you run the github version and not the conda one.

[2020-05-05 15:23] max1c commented on #50
Hi @AlessioMilanese
I've finally figure it out. It was an issue with the environment. Once I fixed that everything started working correctly. Thanks for your help.

[2020-05-05 15:23] #50 closed

[2020-05-05 15:28] AlessioMilanese commented on #50
Good, happy that now it works!
Happy computation ;)

[2020-05-14 03:06] Jigyasa3 opened #51 "Normalizing metagenomic gene relative abundance using MOTU2"
Hey @AlessioMilanese

I wanted to ask,  I am interested in quantifying gene-relative abundances from metagenomes using MOTU. For this, I have the RPKM counts (corrected for gene-length and read length) for extracted marker genes (from MOTU2 db) and annotated gene-families (from metagenomes). I wanted to ask:

a)Can I apply the transcriptome normalization method mentioned in the 2019 paper to metag

[2020-05-14 15:10] AlessioMilanese commented on #51
Hi @Jigyasa3,

I think you refer to:

What we mean is that the 10MGs have a steady expression, hence they measure "basal activity". So, in a metatranscriptomic sample, we expect to see something like:
[code]

[2020-05-14 15:42] AlessioMilanese commented on #51
I'm not sure how to apply this to metagenomic samples, or maybe I didn't understand the question?

[2020-05-14 19:44] Jigyasa3 commented on #51
Thank you for replying! I understand the basal expression part of the marker genes in the metagenomes. I am interested in using that concept for metagenomes too, and wanted to ask you if it would make sense. For example, I have the read count for the marker genes and my other functional genes. I am interested in doing a comparative analysis between functional genes, but as the data is compositiona

[2020-05-14 22:26] AlessioMilanese commented on #51
Ok, I understand!
I guess the following would work using the marker genes (MGs) and using `-c` to get read counts and not relative abundances. For each mOTU, you have to calculate:
[code]
Now, the median is exactly what mOTUs is returning, if you use `motus profile`:
[code]

Now you can compare all the genes that comes from motus 1:
[code]
and mOTUs2:
[code]

And calculate abundances compared to t

[2020-05-20 09:51] fconstancias commented on #35
any updates related the phylogenetic tree?
thanks

[2020-05-20 09:58] AlessioMilanese commented on #35
Hi @fconstancias & @mikemc,

Actually yes. See attached: [mOTUS_2.5.treefile.zip](https://github.com/motu-tool/mOTUs_v2/files/4656038/mOTUS_2.5.treefile.zip)

[2020-05-20 10:25] hjruscheweyh commented on #35
Also added the file to the motu-tool.org website in the data section

[2020-06-11 05:13] Shinexy99 opened #52 "motus profile can't output the bam file [Issue with samtools 1.10]"
I have tested the code by execute as :
motus profile -s test1_single.fastq -o xx -I xx.bam -t 11
no right bam file out put.
it reported the error as :
[E::sam_hrecs_error] Missing tab at line 2: "@CO min_len_alignment 75"
samtools view: failed to add PG line to the header
[W::map_db] Warning: failed to save intermediate bam file
 [W::map_db] Warning: failed to save intermediate bam file

[2020-06-11 07:56] AlessioMilanese commented on #52
Hi @Shinexy99,

Works all good for me, call:
[code]
Print:
[code]

[2020-06-11 07:56] AlessioMilanese commented on #52
Can I ask you to run:
[code]

and:
[code]

[2020-06-12 00:53] Shinexy99 commented on #52
This is the result when running the test of motus profile --test
 ------------------------------------------------------------------------------
|                               TEST MOTUS TOOL                                |
 ------------------------------------------------------------------------------

1-- ran setup.py: done

2-- Tools and versions:
- python:    correct
- bwa:       correct
- s

[2020-06-12 00:54] Shinexy99 commented on #52
my samtools version details:
samtools 1.10
Using htslib 1.10
Copyright (C) 2019 Genome Research Ltd.

[2020-06-12 07:09] AlessioMilanese commented on #52
There is an issue with the header of the BAM file:
[code]

After `@PG` and `@SQ` there is a tab ("\t"), while after `@CO` there is space (" ").
For samtools 1.9 this was not an issue. But, this changed for samtools 1.10.

[2020-06-12 07:25] AlessioMilanese commented on #52
You have 2 possibilities for now to solve the issue:
1. Replace the file `mOTUs_v2/motus` with this: [motus.zip](https://github.com/motu-tool/mOTUs_v2/files/4769335/motus.zip). Note that you have to unzip it first.
2. remove samtools 1.10, and install samtools 1.9

I will solve the issue, test it and update the code next week.

[2020-06-12 08:48] Shinexy99 commented on #52
OK，I will try it

[2020-07-20 15:25] termithorbor opened #53 "Identification down to strain level"
Hi all,

is it possible to identify different strains in metatranscriptomic data with this tool? Or is species the lowest taxonomic level?

Thanks for your answers :)

[2020-07-20 20:32] AlessioMilanese commented on #53
Hi @termithorbor,
Thanks for your interest in mOTUs.

mOTUs profiles only at species level.

[2020-08-18 09:01] zckoo007 opened #54 "which CDS is meta_12476?"
Hi all,

I used your excellent software call for taxnomy, and I found that there is an unknown bacteria particularly high in my case samples.(meta_mOTU_v25_12476).
Then I went to binning, and I assembled 100 high-quality bins. I want to find out which bins is this unknown bacteria。
when I type the following code, I found more than one CDS, so which CDS is meta_12476?
would you please tell me how t

[2020-08-18 09:21] AlessioMilanese commented on #54
Hi @zckoo007,

Thanks for your interest in mOTUs.

The meta-mOTU that you are looking for has 9 marker genes, which are the one listed by your `grep` command.
If you look at `db_mOTU_DB_CEN.fasta` you will find the fasta sequence of these genes.

I would try to find these 9 genes in the 100 bins that you assembled. Maybe vsearch should do the trick. And the percentage identity should be >96%.

May

[2020-08-19 00:58] zckoo007 commented on #54
Ye, very helpful！！！

[2020-08-19 06:31] zckoo007 commented on #54
Does capitalization affect the result?
![image](https://user-images.githubusercontent.com/25576334/90599965-5ae8d900-e228-11ea-9c8e-906ad416dae5.png)
![image](https://user-images.githubusercontent.com/25576334/90600102-8d92d180-e228-11ea-85f9-8ff045e6d6cb.png)

[2020-08-19 06:58] AlessioMilanese commented on #54
No, but if you want to be sure you can transform all to uppercase letters.
It might be that some tools treat differently uppercase and lower case letters.

[2020-08-21 07:18] CLGLynnsane opened #55 "Getting [mpileup] and [E::hts_open_format] errors when running motus snv_call"
Hello,
When running `motus snv_call` on maybe ~1000 .bam files, I consistently get the following sorts of errors:
[code]
and
[code]
The files that end up failing to open are not consistent between different run.

I have never received these errors when running in smaller batches, so I assume this is some sort of resource problem. It doesn't seem like I am using too much memory and the files it is

[2020-08-21 07:41] hjruscheweyh commented on #55
Hi!

I agree. It sounds like a problem with the maximum number of open files set by the ulimit option. Do you have the option to increase the ulimit temporarily?

Hans

[2020-08-25 08:52] zckoo007 opened #56 "Can I compare the fasta files to motus database?"
Hi Alessio
I have a gene, I want to know which bacteria contain this gene. which is the right database for me to  comparison?
[code]
![image](https://user-images.githubusercontent.com/25576334/91153816-4c506500-e6f3-11ea-92ab-becac8018390.png)

[2020-08-25 10:08] AlessioMilanese commented on #56
Hi @zckoo007 ,
You can compare to `db_mOTU_DB_CEN.fasta` or `db_mOTU_DB_NR.fasta`.

`db_mOTU_DB_CEN.fasta` has one sequence per each marker gene per each mOTU. Since there are maximum 10 marker genes per mOTU, you expect to have maximum 10 sequences per mOTU.

`db_mOTU_DB_NR.fasta` has all non-redundant sequences for all mOTUs.

I would use `db_mOTU_DB_CEN.fasta`, since in the fasta header there i

[2020-08-25 11:06] AlessioMilanese commented on #56
Note that you can have a meaningful map between your gene and the mOTUs genes, only if your query gene belong to one of the 10 gene families used in mOTUs.

By blasting your sequence, it has 100% identity to "Bacteroides ovatus strain 3725 D1 iv chromosome, complete genome". And _Bacteroides ovatus_ is in `ref_mOTU_v25_03475`.

Looking at `db_mOTU_taxonomy_ref-mOTUs.tsv`:
`Bacteroides sp. [Bactero

[2020-08-31 13:11] LucasPaoli commented on #55
Jumping in a bit late, but I recall having to change the ulimit at some point. I would recommend setting `ulimit >> 2*Number of bamfiles`. Let us know if you're still experiencing some issues.

Best,

Lucas

[2020-09-03 19:34] mgosborn opened #57 "Large fq file, low read counts"
Hi, I am testing a single sample from a larger dataset. For this sample I have two fastq files (paired end) with ~33 million reads. Average read length is ~145bp. When running mOTUs2, the output lists many species, most of which have relative abundance of 0. I tried running with a higher taxonomy level (phylum) and printed the actual read counts. I was surprised that only ~180 reads were mapping a

[2020-09-03 20:10] AlessioMilanese commented on #57
Hi @mgosborn ,
Thanks for your interest in mOTUs!

You have quite some reads and of good length, so lowering the filters (like `-g 1` and `-l 45`) will probably not improve the recall.
Which kind of samples are you analyzing? Are they from soil?

[2020-09-04 01:00] mgosborn commented on #57
Hi Alessio,

I'm working with marine organisms grown in filtered seawater. I'm not expecting all of the reads to map to bacteria, but when I ran the same sample through kraken2 about 7million reads identified as bacteria so I was expecting to see higher numbers with the mOTUs output.

[2020-09-04 09:02] SuShiAtGit commented on #57
Hi there,

If about 7 M reads are indeed of bacterial origin, we should expect mOTUs to map roughly 35k reads if the organisms are represented in the database at the species level. The result will also depend on the distribution of relative abundances. However, 180+32 seems low indeed, and could mean that the abundant taxa in your sample are indeed not represented at the species level. Note that m

[2020-09-04 16:46] mgosborn commented on #57
Thanks! I will look into MetaPhlan. The next step is MAG construction, but we were hoping to have a quicker assessment of taxonomy first. Could you explain your first sentence more ("If about 7 M reads are indeed of bacterial origin, we should expect mOTUs to map roughly 35k reads if the organisms are represented in the database at the species level.")?

Why would we expect the number of mOTUs map

[2020-09-04 16:54] mgosborn commented on #57
And another question- How are the unmapped (-1) reads counted? I would have thought that the millions (or thousands, if it needs to first recognize it as bacteria) of unmapped reads would have ended up here.

[2020-09-17 11:43] AlessioMilanese commented on #52
Hi @Shinexy99,

Sorry I didn't see your answer. I was not notified that you edited the answer, I think I am notified only when there is a new message.

Try to run:
[code]

If you get `Check resulting profile: correct`, then it's all good.

[2020-09-21 15:52] pavelmedina opened #58 "Only zeros in abundance result"
Hi everyone,

I am Pavel from Mexico. I am working with metagenomic data trying to infer abundance in a sample of water (https://www.ebi.ac.uk/ena/browser/view/SRX7913461). I am using you software, mOTUs, but I have a problem that I do not understand. Each time I run the analysis, I get the same result with only cero values in abundance. It there exist an apparent error that I am omitting in my an

[2020-09-21 17:18] AlessioMilanese commented on #58
Hi,
Thanks for your interest in mOTUs!

I see there are some different from zero:
[code]

But just few. Can you have a look at this:
https://github.com/motu-tool/mOTUs_v2/wiki/FAQ#1-why-just-few-reads-map-in-my-profiles

If `-c` and decreasing `-l` and decreasing `-g` doesn't work, we can have a look at the profile!

[2020-09-21 17:20] AlessioMilanese commented on #58
It can also be that the species in your sample are not represented in mOTUs.

[2020-09-21 17:56] pavelmedina commented on #58
Ok, let me try this. I will notify you the results in a couple of hours.

Thanks.

[2020-09-28 15:53] taylorreiter opened #59 "metaSNV results is empty"
Hello,

I successfully ran mOTU using the following code:

[code]
However, the run ended with:
[code]

I'm curious what can cause this to happen.

Running `ls -lah` on the `snv_call_out` directory, I see:

[code]

Is there actually not enough information in my reads to run metaSNV, or did something else occur?

I have the following versions installed:
[code]

And I'm attaching the log file here. N

[2020-09-29 10:33] LucasPaoli commented on #59
Hi Taylor,

It does look like none of the mOTUs went through the metaSNV filtering parameters. Here you would be looking for 'species' that have at least 80% horizontal coverage (-b) and 5X vertical coverage (-d) in two or more samples (-m).

This could be the case for two reasons: either the ecosystem you're working with is not well represented in the current mOTUs database (we're working on exte

[2020-09-29 19:10] taylorreiter commented on #59
Thank you @LucasPaoli! This helps me develop and intuition for vertical/horizontal coverages and adjusting the filtering parameters as necessary.

[2020-10-03 13:58] zckoo007 opened #60 "How to match subset fastq to motus?"
Hi Alessio,

I have some peptides that will cause immune response，like "IDIKKYARVEKIPGG","GPLLICYKESVDQRGNQIMS"

I want to know whether patient’s intestinal flora also rich in these peptides

I diamond blastx my metagenomes reads to these peptides and find some significant differences in case and control.

Now I want to know， **these peptides from which species or genus**。

My idea is extract thes

[2020-10-03 14:31] AlessioMilanese commented on #60
Hi @zckoo007 ,

To profile unpaired reads, you can just use the `-s` command like:
[code]

Let me know if this works.

[2020-10-05 08:57] zckoo007 commented on #60
Hi Alessio,

I hava a subset fastq from 500 other samples, I extract the reads that I am interesting.
[code]
motus  profile -s Num10134.fa -c -t 28 > Num10134_taxonomy.txt
[code]
motus  profile -f Num10134_R1.fq -r Num10134_R2.fq -c -t 28 > Num10134_taxonomy.txt
[code]
There is no reads mapping。
[code]
Does the fastq too small to mapping to motus database?

I want to know which bacteria have these

[2020-10-05 14:42] AlessioMilanese commented on #60
Hi Chengkai,

I think there are some reads that are mapping.

I would run using the following commands:
- `-g 1`, to keep all reads
- `-y insert.raw_counts`, to count reads (by default it also count reads, but it normalize by the length of the genes)
- `-c`
- `-A`, to print all levels, and only the one found (see also [link](https://github.com/motu-tool/mOTUs_v2/wiki/Parameters-to-change-the-resul

[2020-10-07 19:28] luispedro opened #61 "The genus `Ileibacterium` appears twice in the output (genus mode)"
While trying to debug an [NGLess bug report](https://groups.google.com/g/ngless/c/j4ddHhdPOHg), I noticed that the output of motus (database 2.5) seems to be odd in a very particular way

Example

[code]

This is the only genus for which this happens.

[2020-10-08 08:00] AlessioMilanese commented on #61
Hi Luis,

I can reproduce even with just:
[code]

I will have a look why this happen.

[2020-10-09 14:32] AlessioMilanese commented on #61
The issue is with the database.
For `ref_mOTU_v25_10239`, we have the following genus annotation:
[code]
For `ref_mOTU_v25_05939` we have:
[code]

As you can see, the NCBI tax id is different. Since I find the unique names based on the full name (i.e. tax_id + name), they are two different. When I then print it, I remove the NCBI tax id and the result is that there are two different entries with t

[2020-10-09 14:37] AlessioMilanese commented on #61
In any case, we will have an update of the database in 1/2 months, where we will solve this.

For now, can I ask you to run with the `-p` option?
This should solve the problem.
[code]

[2020-10-09 14:40] #54 closed

[2020-10-09 14:50] AlessioMilanese commented on #57
Hi @mgosborn ,

This comes from calculating the average number of reads that are expected to map to the 10 marker genes that we use in mTOUs. For mOTUs we use only the reads that map to these marker genes and not all reads. Hence, for profiling we use a small part of the reads.

The -1 are sequences from the 10 marker genes that we didnt manage to link into species. Basically, we observed these ge

[2021-01-19 08:53] MalbertR commented on #57
Hi @AlessioMilanese

I am also having a similar issue. According to one of your previous responses, it seems like we should expect a mapping rate at about 0.5%, right?
In my case, I'm only getting ~1.6k reads mapped from a 4m paired-end reads (so 8m reads in total) sample. It's a human gut (fecal) sample.

Any words as to why you think the mapping rate is so low? Obviously pretty much any sample w

[2021-01-19 14:18] AlessioMilanese commented on #57
Hi @MalbertR

I added more info to the FAQ ([link](https://github.com/motu-tool/mOTUs_v2/wiki/FAQ#3-how-many-motus-read-counts-should-i-expect-to-have)).

Given 8 million total read, what you observe for human fecal samples is correct.

The issue is not with the genomes missing from the database, rather on having really few reads that map to the marker genes that we use for profiling. I would sugg

[2021-01-19 15:26] MalbertR commented on #57
Ah, right. I did indeed find it strange that the relative abundance information coming out of mOTU did seem to sort of make sense. However, it was only the counts that I found were too low. But I get now that the amount of total reads play a significant role in these results. I will then also give Kraken a try and compare the relative abundances. Chances are that the mOTU relative abundance table

[2021-01-19 16:50] AlessioMilanese commented on #57
Maybe adding to the discussion of k-mer based versus marker-gene based profiling approaches, you might be interested in:
https://www.biorxiv.org/content/10.1101/2020.11.14.382994v1.full

[2021-01-27 16:38] #53 closed

[2021-03-04 18:21] AlessioMilanese commented on #61
Solved with release 2.6.0

[2021-03-04 18:21] #61 closed

[2021-03-04 18:21] #52 closed

[2021-03-23 09:39] fplaza opened #63 "Availability of MAGs representative of meta-mOTUs"
Hi,

Representative genomes of ref-mOTUs are available on proGenomes.
I was wondering if MAGs representative of meta-mOTUs are available as well?

Best,
Florian

[2021-03-31 07:25] hjruscheweyh opened #64 "misplaced sys.exit"
As discussed. There is a random sys.exit in the the print_cami.py script. This doesnt affect the output but the command doesnt end with a 0.

https://github.com/motu-tool/mOTUs_v2/blob/9194f9b363aeb87473d8b4281baabe2f876a2d94/bin/print_CAMI.py#L408

[2021-03-31 07:44] AlessioMilanese commented on #64
Solved in branch 2.6.1.
Will keep the issue open until we merge the branch.

[2021-03-31 07:51] AlessioMilanese commented on #63
Dear Florian,

We added now a pre-print with all the marine MAGs and genomes:
https://www.biorxiv.org/content/10.1101/2021.03.24.436479v1

And the human associated MAGs can be found in:
https://pubmed.ncbi.nlm.nih.gov/30661755/
https://www.nature.com/articles/s41587-020-0603-3
https://www.nature.com/articles/s41586-019-1058-x

Best,
alessio

[2021-04-01 14:19] Jigyasa3 opened #65 "OTU clustering/distance matrix of marker-genes from different samples"
Hey @AlessioMilanese

I am interested in clustering marker-genes from 4 different samples into OTUs and getting a distance matrix to understand how similar two samples are to each other based on marker-gene data (similar to [Supplementary figure 13](https://static-content.springer.com/esm/art%3A10.1038%2Fs41467-019-08844-4/MediaObjects/41467_2019_8844_MOESM1_ESM.pdf) of the 2019 paper)

I am follo

[2021-04-01 14:20] matthpich opened #66 "[Feature request] conda installation without the dbs"
Hi,

Thanks for the amazing tool.

Would it be feasible to install motusv2 via conda without the databases?
This could help save download time when testing the creation of conda environments on the fly, such as with [nextflow](https://www.nextflow.io/docs/latest/conda.html#use-conda-package-names).

And a related question, would it be possible to have a parameter to pass a custom database location

[2021-04-01 15:15] AlessioMilanese commented on #65
Hi @Jigyasa3,

I think you are looking at the wrong part of the methos: `usearch usearch_global` was used to cluster the 16S amplicon data and not for mOTUs (Figure 3). The section immediately after that refers to supplementary figure 13:

Supplementary figure 13 is based on taxonomic profiles and not on distances between genes.
I would run mOTUs on the 4 samples, in this way you obtain 4 taxonomi

[2021-04-01 15:20] AlessioMilanese commented on #66
Hi @matthpich

Thanks for your interest in mOTUs!

This could help save download time when testing the creation of conda environments on the fly, such as with nextflow.

That's a good point, but for how conda is handling the database it's not really possible to install it without the database. Also, for how mOTUs is designed, the database is an integral part of the tool.

Ye check out the `-db` op

[2021-04-01 15:40] pichauma commented on #66
Alright @AlessioMilanese.
Many thanks for your prompt answer.
I will look for another workaround.

[2021-04-01 15:44] matthpich commented on #66
Alright @AlessioMilanese.
Many thanks for your prompt answer.
I will look for another workaround.

[2021-04-01 15:44] #66 closed

[2021-04-06 07:36] hjruscheweyh opened #67 "snv_call changes"
1.
https://github.com/motu-tool/mOTUs_v2/blob/f1c8cac83ae6de393cae49058f71fc138d308ebb/motus#L271

SNV Calling should support only 1 core due to a python2/3 bug in metasnv.

2.
https://github.com/motu-tool/mOTUs_v2/blob/9194f9b363aeb87473d8b4281baabe2f876a2d94/motus#L269
The code is already changed to have 0.9 as default. But the default message is that it uses 0.5

[2021-04-09 18:51] #67 closed

[2021-04-09 18:51] #64 closed

[2021-04-09 18:53] #35 closed

[2021-04-12 16:15] AlessioMilanese commented on #45
For mOTUs 2.6.1 we change the taxonomy of 32 ref-mOTUs:
[code]

[2021-04-12 16:22] AlessioMilanese commented on #45
Diff between the taxonomies:
[code]

[2021-04-12 16:27] AlessioMilanese commented on #45
If a ref-mOTU contains at least 10 genomes and at least 80% of those agree, then we select the taxonomy annotation of the agreeing 80%.

This change allow to have *E.coli* in the profiles:
`Proteobacteria sp. [ref_mOTU_v25_00095]` becomes `Escherichia coli [ref_mOTU_v25_00095]`

[2021-04-15 14:55] haegih opened #69 "Phylogenetic tree for mOTUs version 2.6.0"
Hi,

I found a phylogenetic tree on https://motu-tool.org/download.html for version 2.5.
Can you also provide one for version 2.6?

Would be greatly appreciated!
Best,
Hannah

[2021-04-16 09:44] AlessioMilanese commented on #69
Hi Hannah,

Thanks for your interest in mOTUs. We are currently working on mOTUs 2.6.1 to solve some small bugs and we will work on the tree after that.

Best,
alessio

[2021-05-21 08:04] makrez commented on #57
Hi Alessio

Your explanations are very reasonable concerning this issue and thank you for also adding this to the FAQs. However, I would be interested in your opinion about this case: I have between 70-100 million paired-end reads (total 140-200 million reads) and the absolute number of mapped reads is between 700 - 1500 (including the not assigned reads). The data is from the rhizosphere and sinc

[2021-05-21 08:56] AlessioMilanese commented on #57
Hi @makrez,

We know that soil has really few reads that map to reference genomes (see example: https://www.biorxiv.org/content/10.1101/2021.04.20.440600v1 , figure 1). Since we map to marker genes, only few reads will map because we do not have genomes (and marker genes) in our database that cover these reads.

Solution:
- if you have mOTUs 2.5.1; you can update to mOTUs 2.6.1 where we have many

[2021-05-22 12:01] metaganal opened #71 "Ileibacterium appears twice in mOTU v2.6.1"
Hi, I want to report a bug in mOTUs v2.6.1.

Ileibacterium appears twice when annotating short reads at the genus level.
Identical bug has been reported previously(#61) and it seems that release 2.6 solved it, but it reappears in release 2.6.1

After checking the database that mOTU downloaded by setup.py (specifically db_mOTU_taxonomy_ref-mOTUs.tsv), I can see that ref_mOTU_v25_10239 is annotated

[2021-05-25 08:16] AlessioMilanese commented on #71
Hi @metaganal ,

Thanks for pointing that out, we will fix with the next version. This came back in after solving https://github.com/motu-tool/mOTUs/issues/45 .

For now yes. I'll write here when we solve with the new version.

[2021-06-08 07:33] #45 closed

[2021-06-08 16:16] AlessioMilanese opened #72 "Improve the ref-mOTUs taxonomy"
The taxonomy of the ref-mOTUs is sometimes split in different species. As an example `ref_mOTU_v25_04457` has as species annotation:
[code]

This relates to issue #45. We would like to solve this more systematically and update also the CAMI taxonomy.

[2021-06-08 16:29] AlessioMilanese commented on #72
For the default taxonomy we correct all ref-mOTUs that have the following characteristics:
1. there are at least 10 genomes (with a proper binomial name) within a ref-mOTU that agree to one annotation
2. at least 80% of the genomes agree to one single annotation

So, for example, if we have 13 genomes of `Escherichia coli`, 2 `Shigella dysenteriae` genomes and 1 genome of `Shigella species Yer432`

[2021-06-08 16:31] AlessioMilanese commented on #72
For the CAMI taxonomy, we update the taxonomy if at least 75% of the genomes in a ref-mOTU to agree to one proper binomial species name. Note that here we have no restriction on the number of genomes.

[2021-06-08 16:44] AlessioMilanese commented on #72
There are 96 ref-mOTUs that will be updated in the default taxonomy:
https://docs.google.com/spreadsheets/d/1Q7DBKXliV7a8VRzAUjVNd1IJaxwGEM5BH_V590xa8jc/edit?usp=sharing

There are 154 ref-mOTUs that will be updated for the CAMI taxonomy:
https://docs.google.com/spreadsheets/d/1Q4RyV0RpWWoSi9aHrE_mF2Xv_NuJQ0VQQvC8Rx1XFAo/edit?usp=sharing

[2021-07-22 03:34] Jigyasa3 opened #74 "problem installing mOTU"
Hey @AlessioMilanese!

I am trying to install the mOTU and I am getting the following error-

Code-
[code]

Error-
- Run motus (-v 1, only error messages):
Error: fail to load the script: /home/j/jigyasa-arora/local/mOTUs_v2/bin/append.py
Download the motus profiler again

I re-installed in twice, but getting the same error

[2021-07-22 05:56] AlessioMilanese commented on #74
Hi @Jigyasa3 ,

Can you try:
[code]
We changed the name of the repository (from `mOTUs_v2` to `mOTUs`), maybe that is creating the problem/confusion.
You have to do `cd mOTUs` instead of `cd mOTU_v2/`.

Also, in `cd mOTU_v2/` it might be that it's a wrong directory (because there is a `s` missing in `mOTUs`)?

Let me know if you manage to solve it!
Cheers,
alessio

[2021-07-22 06:13] Jigyasa3 commented on #74
Hey @AlessioMilanese!

Thank you for a quick reply! I think I managed to solve it by using the conda environment in the `env/` folder.

 Thank you!

[2021-07-22 07:06] AlessioMilanese commented on #74
ok nice. I'm closing the issue.

[2021-07-22 07:06] #74 closed

[2021-07-26 12:33] franciscozorrilla opened #75 "question about isolate sequencing data"
Hi, I was wondering if `mOTUs2` was tested on isolate sequencing data?
Does it make sense to use this tool for assesing quality/contamination of isolates short read sequencing files?

Thanks,
Francisco

[2021-07-26 12:50] AlessioMilanese commented on #75
Hi @franciscozorrilla,

We did not test it directly, but we actually use it also for that.

Also compare the relative abundances. For example, if you are sequencing a E.coli isolate and profile 0.99 relative abundance of E.coli, then it should be fine. If 0.3 of the relative abundance is _Staphylococcus epidermidis_ you might have a contamination.

[2021-07-26 13:04] franciscozorrilla commented on #75
I see, thanks for the info! This is what 9 of my soil-derived isolate samples look like in my analysis:

![image](https://user-images.githubusercontent.com/35606471/126992735-29170fbf-4d23-4568-86c0-7905c8bd169e.png)

So the sample in the top right corner is probably trustworthy isolate, whereas the one in the top middle might be contaminated (or consists of co-dependent bacteria)?

[2021-07-26 14:11] AlessioMilanese commented on #75
That is what mOTUs would suggest. What you can do is to compare contigs to Bacterial genomes and see if there is a similar message also there.

[2021-07-26 14:29] #75 closed

[2021-07-26 20:31] AlessioMilanese opened #76 "Improve ref-mOTUs taxonomy annotation at level higher than species"
In Issue #72 we improved the taxonomy annotation of mOTUs with genomes that agreed at species level. But we can extend this at lever higher than species.

[2021-07-26 20:32] AlessioMilanese commented on #76
The ref-mOTUs that will be affected are listed in:
https://docs.google.com/spreadsheets/d/1dN6TmBVG48QTlU47lCIvkbaem8F5Did3LyRqoH3wmh8/edit?usp=sharing

[2021-08-04 14:27] Alexey-Kovtun opened #77 "Error with append.py"
Hi!

I've installed the latest version of mOTUs and got an error while trying to run the program:

Error: fail to load the script: /mnt/lustre/kovtunas/miniconda3/share/motus-3.0.1/bin/append.py
Download the motus profiler again

I tried two variants of installation: the one specified in the "Installation" section and through conda. Both give me the same error.

I've tried installing mOTUs before

[2021-08-04 17:19] AlessioMilanese commented on #77
Hi @Alexey-Kovtun ,

Thanks for your interest in mOTus.

That sounds weird. I just tried now and it works fine for me with both `-i` and `-d`.

Which version of python are you using? (you can check also with `motus --version`)

What command are you using? Can you try to run with `-v 10`

[2021-08-04 17:31] Alexey-Kovtun commented on #77
Thank you for a quick reply!
Good to hear that it actually works. There are difficulties with this particular server. It has Python as modules + I have conda installed.
When installing with basic installation, I switched conda off (so it does not conflict) and turned Python3 v 3.8.2 on.
I guess now that I'll have to 'play' with switching the modules on/off. Maybe that'll give the result.

On anoth

[2021-08-04 17:39] AlessioMilanese commented on #77
I see. Maybe you can run `motus merge` in another machine. That's maybe not an ideal solution, but the profiles are quite small in size and merging would work also on a normal laptop.

[2021-08-04 17:46] Alexey-Kovtun commented on #77
Yeah, I'm analyzing a dataset, so I might need it (instead of inventing my own scripts).

Yeah, since we're talking this through, I'm also wondering, what type of normalization for the taxonomy counts would you recommend in order to run comparison tests between the datasets (like case/control comparison)? Correct me, if I'm wrong, but it seemed to me that you hadn't built in any normalization for

[2021-08-04 18:59] AlessioMilanese commented on #77
I would use the default `-y insert.scaled_counts` which normalise for different gene/genome size. This gives the best results. In an independent evaluations of many profilers, mOTUs results on top:
https://www.nature.com/articles/s41596-020-00480-3
(see Figure 7)

From this, there are many normalizations that you can use to test associations in case/control studies. For example: calculate relative

[2021-08-04 19:04] Alexey-Kovtun commented on #77
Oh, this is very helpful! Thank you very much!

[2021-08-09 12:08] plmeta opened #78 "Conda motus-3.0.1"
Hello,

I wonder if conda install is working now for version 3.0.1. I saw the package is already on conda. But it still installs version 1.0 when using it.

Thanks!

All the best,
pl

[2021-08-09 12:12] AlessioMilanese commented on #78
Hello,

That's weird. Can you try to run:
[code]

[2021-08-10 09:37] plmeta commented on #78
Hi, thanks for the quick reply. I think I found the issue. I am installing with a .yml file and there are some dependencies that forced motus to install a lower version.

[2021-08-10 10:32] AlessioMilanese commented on #78
I see. i guess samtools or bwa, or maybe something related to metaSNV.
Is it working now?

[2021-08-10 13:38] plmeta commented on #78
I haven't unfortunately. I managed to install 3.0.1 once but now I couldn't manage again. It is now version 2.0.1 with dependencies like blow. I tried also both py3.7 and py3.8.
![Screenshot 2021-08-10 at 15 36 03](https://user-images.githubusercontent.com/65559394/128876853-0fa7d606-41bf-40e8-8a27-fadab204caa5.png)

[2021-08-10 13:40] AlessioMilanese commented on #78
maybe create a new conda environment can help?
https://github.com/motu-tool/mOTUs/wiki/Installation#install-dependencies-with-conda

[2021-08-11 08:36] plmeta commented on #78
Hi, finnally I made it to work.

python 3.8.1 + samtools 1.9 + bwa 0.1.17, then I am getting motus 3.0.1 by:
conda install -c bioconda motus=3.0.1

[2021-08-11 08:45] AlessioMilanese commented on #78
Nice!

I know it can be messy with the different tool versions, and it's not completely under our control.
Thanks for cheking. I can point to this discussion if anyone gets the same problem!

[2021-09-13 14:07] ArtyKo67 commented on #69
Dear Alessio,
Is there a phylogenetic tree for mOTUs 2.6.1 somewhere already? I didn't find a file with it anywhere, but perhaps I didn't look for it properly.
Kind regards,
Arty

[2021-09-13 17:42] AlessioMilanese commented on #69
For now it's still not available. We extended mOTUs 2.6 to 3.0 and working on that.
Do you need the tree for 2.6.1 or you are planning to use version 3?

[2021-09-14 07:12] ArtyKo67 commented on #69
Thanks for a quick response! I didn't know 3.0 is already in development, and I'd love to use it once it's available (if it is, where can I find it?).
I think for my type of analysis both a tree for 2.6.1 and 3.0 would work. If 2.6.1 tree is not available at all, is there a way to generate it from raw data, but keeping the annotations (so ext-motus for example) the same? I used mOTUs module in ngl

[2021-09-14 07:26] AlessioMilanese commented on #69
mOTUs 3.0.1 is available both from github and from bioconda (https://anaconda.org/bioconda/motus).
I'm not sure how you can integrate it into ngless.

[2021-09-14 07:34] ArtyKo67 commented on #69
Awesome, thank you, I'll try to make it work! Is there a 3.0 phylogenetic tree already, or is that one in development?

[2021-09-15 11:43] makrez commented on #57
Hi @AlessioMilanese

I just realized that I haven't answered you.  Thanks for your opinion on this. It is indeed a problem with missing data in the database. This was confirmed by using other tools as well.

[2021-09-15 12:24] AlessioMilanese commented on #69
We are waiting to fix the taxonomy and mOTUs definition, so to have a final set of genes that we can use to build the tree. Would need to wait a little bit more.

[2021-09-16 07:56] AlessioMilanese commented on #57
For your information, now we have also a new version: mOTUs 3.0.
https://bioconda.github.io/recipes/motus/README.html

[2021-10-07 12:18] sjaenick opened #79 "motus calc_motu: -p ignored if -A given"
Hi Alessio,

I just noticed that NCBI tax IDs are missing from the mOTUs output if both -p and -A are supplied as options.
Used individually, everything works as expected.

[2021-10-07 12:32] sjaenick opened #80 "Output mode with individual read assignments?"
Hi,

within our MGX framework, we'd like to also include mOTUs for taxonomic profiling. However, MGX works
in a way where individual metagenome reads are taxonomically annotated, and since `motus profile` only
outputs a summary profile, we can't directly include it.

Would it be possible to provide a subcommand to mOTUs that outputs individual read assignments with
full lineage (-A) similar to wha

[2021-10-07 13:06] AlessioMilanese commented on #80
Hi @sjaenick,

Thanks for your interest in mOTUs!
If I understand correctly you are trying to assign a taxonomy to each read. This will not work for mOTUs because we use only a fraction of the reads, but for MetaPhlAn you should have the same problem (unless you are interested only in the reads that map to the adtabase).

A solution would be to use the `-I` option. This would save the samtools res

[2021-10-07 13:21] #80 closed, assigned to AlessioMilanese

[2021-10-09 18:19] shihuang047 commented on #47
Hello Alessio,
I'm now trying to construct the custom mOTU2 database with a reference genome database with 170k microbial genomes (including bacteria, archaea, fungi).
1. Fetch markers (MGs) from I did the marker extraction using fetchMG.pl. For each genome, we got a set of fna/faa files (N=40). Now we can concatenate them into one fna/faa per genome. Right?
2. We don't quite understand how to der

[2021-10-11 22:39] AlessioMilanese commented on #47
Hi Shi,

I think this would make things easier:
https://github.com/AlessioMilanese/read_counter

You have to concatenate all fna files into only one file. Pay attention to have proper names for the headers of the fasta file.

Another note about:

You might want to check the fungi, because the 40 MGs would probably not be called there (since fetchMG is designed to find genes in Bacteria and Archaea

[2021-10-22 08:10] SilasK opened #81 "Know how much of an environment is covered"
I have another mOTU question. I’ve seen that you extended the mOTU quite a bit for different environments.
However, I would use mOTU on new environments e.g. soil. How can I know that a high fraction of species are covered in the mOTU. It seems to me that one one side you have the mOTUs from ref and metagenomes. But is there a way to know how much I don’t know.

If I would use a Kraken mapping obv

[2021-11-18 10:03] matthpich commented on #81
Hi,
Thanks for the great tool.
@SilasK did you find "Extender for mOTUSs3" mentioned by @hjruscheweyh?
I would like to predict the 10 marker genes in a metagenomic dataset and thought it could help.
Many thanks!

[2021-11-18 10:09] AlessioMilanese commented on #81
Hi @matthpich,

if you want to predict the 10 marker genes from a metagenomic sample (hence a fastq file with reads), then the extender will not help you. The extender need as input MAGs, hence already assembled and binned reads.

[2021-11-18 10:16] matthpich commented on #81
Dear @AlessioMilanese,
Thanks for the prompt answer.
I assembled the reads already and predicted genes/proteins, but I do not have MAGs.
So, I am thinking that the latest versions of fetchMG or emapper could help identify if any of the marker genes in thesample is missing in the mOTU db, and therefore if mOTUs reflect the content of my sample accurately. Am I correct?

[2021-11-18 10:22] AlessioMilanese commented on #81
Yes, correct!

Tou can use fetchMG:
https://github.com/motu-tool/fetchMGs

to predict the 10 MGs from you matching genes/protein files. And then you can use vsearch to compare to the mOTUs DB.

[2021-11-18 10:41] matthpich commented on #81
Perfect, thanks @AlessioMilanese.

[2021-11-25 22:01] trickovicmatija opened #82 "Map file for v3 database"
Hey,
First of all, nice tool!
I have found the file on Zenodo (https://zenodo.org/record/2635425#.YaAHgC2ZPy9) with information how to map genes to mOTU names. I am interested if you want to share that same file, but for v3 database?

Thanks,
Matija

[2021-11-26 14:18] AlessioMilanese commented on #82
It's available now.
Cheers,
alessio

[2021-11-26 20:33] trickovicmatija commented on #82
Thank you very much!

Best,
Matija

[2021-11-26 20:33] #82 closed

[2021-12-11 22:05] mikemc opened #83 "Possible error in help for 'motus map_tax'"
The help for `motus map_tax` says

[code]

which makes it sound like the `-b` flag should be used to specify the BAM output. However, doing so gives an error, and the [published workflow](https://onlinelibrary.wiley.com/doi/10.1002/cpz1.218) instead shows that the '-o' flag should be used for the output BAM file.

[2021-12-12 18:47] AlessioMilanese commented on #83
Dear @mikemc,
Thanks for the comment. The way it works is as follow:
[code]

This will print to `stdout` a sam file, which you can for example re-direct to do some analysis:
[code]

Instead of going to `stdout`, you can save to file with the `-o` option. These two calls produce the same result:
[code]

If you want to save the result in .bam format instead of .sam format, you can use:
[code]

This

[2021-12-12 18:54] AlessioMilanese commented on #83
I think you refer to:
[code]

That is a correct usage of `-o`. But, it should be `ERR479298s-default.sam` instead of `ERR479298s-default.bam`. It works for the whole analysis because mOTUs can use both .bam and .sam files and will understand the type automatically.

I will check how to solve this. Thanks again for the comment and for spotting this.

[2021-12-17 12:48] Jibowe commented on #81
Hi,
Where is the URL link for Extender for mOTUs3？I can't find it online.
I need to install it to complete my data analysis work.
Many thanks!

[2021-12-19 20:04] mikemc commented on #83
Hey @AlessioMilanese, that makes sense, thanks!

[2021-12-23 10:44] Jibowe commented on #44
Hi，
I am using extend_mOTUs_DBv2.5 and mOTUs v3.0.1. And I had the same problem. I can't run the script extend_mOTUs_addGenome.sh successfully because the file db_mOTU_DB_NR.fasta.udb was not found in the db folder.
Thanks for your help!

[2021-12-23 10:52] Jibowe opened #84 "Database Extension"
Hi，
I am trying to add my own genomes to the database and using extend_mOTUs_DBv2.5 and mOTUs v3.0.1. But I had the same problem. I can't run the script extend_mOTUs_addGenome.sh successfully because the file db_mOTU_DB_NR.fasta.udb was not found in the db folder.
Thanks for your help!

[2022-01-07 13:41] AlessioMilanese opened #85 "Clarify ref-mOTUs taxonomic annotation"
It is not clear how the annotation of the ref-mOTUs is created.

[2022-01-07 14:32] AlessioMilanese commented on #85
Ref-mOTUs are annotated using the NCBI annotation (from 8 January 2019) of the genomes within each ref-mOTU. This relates to mOTUs 2.5.1 and mOTUs 3.0.x.

Note that the ref-mOTUs annotation is derived from the specI annotation, which is done of 40 marker genes instead of the 10 marker genes used for mOTUs.

Each specI is composed of 1 or more genomes. The annotation of speacIs is done progressivel

[2022-01-10 20:33] Franz2022 commented on #84
I have the same problem. Please, what do we do wrong?

[2022-01-12 15:20] Lucas-Maciel commented on #63
Dear @AlessioMilanese

I have done some biomarkers discovery based on the mOTUS and now I have a list of 100 mOTUS from ref, meta and extension databases. I want to download the genomes of these species and make annotations to identify the presence of some pathways.

Do you think that there is any way to provide a unique database with all genomes that you have used to identify the MGs and their mO

[2022-01-12 17:01] AlessioMilanese commented on #63
Dear @Lucas-Maciel

For ref-mOTUs there are genome sequences available in progenomes 2 (https://progenomes.embl.de/).
The ref-mOTU identifier map to the specI identifier (the specI id `specI_v3_Cluster10` correspond to the ref-mOTU 10).

Regarding meta- and ext-mOTUs is a little bit more complicated. Are you working in human gut?

[2022-01-12 19:15] Lucas-Maciel commented on #63
@AlessioMilanese thanks for your fast reply.

Yes I work with human gut.

I was looking the progenomes but I was only able to manually download one by one using the specI clusters in the website. I also download the representatives contigs fasta files but they were all in one single file and no cluster information. Maybe I'm not looking in the right place.

[2022-01-20 11:18] AlessioMilanese commented on #63
Since you are working with human gut you might be interested in:
https://www.nature.com/articles/s41587-020-0603-3

that we use also for mOTUs 3.

I'm not sure about this. Can you contact the first author?

[2022-01-20 11:23] #77 closed

[2022-01-20 11:23] AlessioMilanese commented on #71
Solved with 3.0.1

[2022-01-20 11:23] #71 closed

[2022-01-20 11:25] #78 closed

[2022-01-20 11:29] #79 closed

[2022-01-20 11:30] #65 closed

[2022-01-20 11:34] #58 closed

[2022-01-21 03:41] Jibowe commented on #85
Hi，
iv. There is no annotation because there were no genomes with valid names.     It means "unassigned"?

[2022-01-21 08:04] AlessioMilanese commented on #85
Hi @Jibowe,
The one in (iv) are the one that go to point 4.
They are still ref-mOTUs, they do not go to `unassigned`. The `unassigned` is explained here:
https://github.com/motu-tool/mOTUs/wiki/Explain-the-resulting-profile#unassigned

[2022-02-14 12:38] dengzq1234 opened #87 "conda install motus stuck in Executing transaction"
Hi,
I tried to install motus via conda using the follwing command according to the tutorial
`conda install -c bioconda motus`
but the install process stucked at the Executing transaction for a very long time so I have to stop it, and report showed

`ERROR conda.core.link:_execute(701): An error occurred while installing package 'bioconda::motus-2.1.1-py37_3'.`

I tried different motus and python v

[2022-02-14 12:48] AlessioMilanese commented on #87
Hi Ziqi,

While installing mOTUs, the database is downloaded (few Gb).  So it might be that it's waiting to download that?
Could you otherwise try to install through GitHub?
[code]

We are also in the process of adding to `pip`. It should be done in a few days.

[2022-02-14 13:59] dengzq1234 commented on #87
I see! Thanks Alessio!

[2022-02-21 17:04] gromain opened #88 "Pypi package `motus` is something else, instructions outdated"
Hello,

I'm trying to run motus in an environment where Conda is not supported.

While trying to setup a new machine using your instructions, it appears there already is a [motus package](https://pypi.org/project/motus/#description) in Pypi, except it's not this one!

Instructions on the website at https://motu-tool.org/installation.html don't work anymore either.
More specifically, the commands g

[2022-02-21 17:28] gromain commented on #88
Also, the `test.py` is broken (because of the broken `setup.py`).

:-)

[2022-02-22 16:35] AlessioMilanese commented on #88
Hi @gromain
We were in the porcess of updating mOTUs and adding it to pip when we realised that the name was already in use. We found now an alternative and updated the website.

[2022-02-22 16:36] AlessioMilanese commented on #88
Also, thanks for reporting the issue, we are always keen on improving!
For the docker image, I would wait a few days that we will have an updated database.

[2022-03-14 07:19] gitcat01 opened #89 "no unassigned with full taxonomy"
Hi,

I was using mOTU on marine metagenomes and it works great!
However, I used flags -A -c to report counts and full taxonomy but then I don't receive number of unassigned reads. Is there a way to receive counts, full taxonomy and unassigned reads?

Thank you very much!

[2022-03-14 20:18] AlessioMilanese commented on #89
Hi,

Nice to hear!

Unfortunately the output format with `-A` is designed not to have `unassigned`. You need to run mOTUs two times to find this information. The first time you run it, you can save the intermediate MGC count with `-M` so that the second run is much faster. For example:

[code]

[2022-03-28 19:30] Jibowe opened #90 "mOTUs"
Hello！
I wonder if “p__Bacteria phylum [Proteobacteria/Bacteroidetes]” in the classification report represents a new phylum that has not been discovered before. Similarly，for “f__Caulobacterales fam. incertae sedis”，it means a novel family？

[2022-03-29 07:34] AlessioMilanese commented on #90
Hi @Jibowe,

It is not necessarily true. In particular, if it comes from a ref-mOTUs, then it is not a new clade.
For example the ref-mOTU 01744 has the annotation:
[code]

Where the family is `NA` and `incertae sedis`.  This is because the NCBI taxonomy does not have a family annotaiton:
https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?id=132920

[Lineage](https://www.ncbi.nlm.nih.gov/Tax

[2022-03-29 07:40] AlessioMilanese commented on #90
Also, for ref-mOTUs you can have that two clades are clustered in the same mOTUs. As a result we report both within square brakets.

In particular for your example, we have ref-mOTU 00077:
[code]

where NCBI classified genomes wrongly. The set of genomes is genetically similar (that's why they are in the same mOTU), but NCBI has many different annotations (so different that they are even in differ

[2022-03-29 07:43] AlessioMilanese commented on #90
For meta- and ext-mOTUs instead an `incertae sedis` annotation means that we could not annotate it at that level. It could be that it's a new clade, but it could also mean that we did not have enough confidence to annotate it.

[2022-05-11 13:45] Xentrics opened #91 "Error extending mOTU 2.5.1 database"
I try to follow the instruction on [Extending_the_mOTUs_database](file:///home/basti/.cache/.fr-oQD27y/extend_mOTUs_DBv2.5/Extending_the_mOTUs_database.html). I proceeded creating the conda environment and downloaded the mOTU 2.5.1 database (and moved it into the mOTU folder).

I am trying to run the test genomes, but I experience a crash. The pipeline _starts_ successfully until it tries to creat

[2022-05-11 13:52] AlessioMilanese commented on #91
It seems it's opening the file in bytes mode, and so it's calling `bytes.startswith()` and not `str.startswith()`.

We don't support python 3 anymore. If you are using python 2, that might be the issue.

@hjruscheweyh did you see this before?

[2022-05-12 08:13] Xentrics commented on #91
Just for completeness sake: no, I used python 3.6.5.
It also appear with any of the test genomes (and the 3 additional ones that I try to add).

Could this be an issue with the reference database? I got the 2.5.1 database from [https://zenodo.org/record/3366460#.YnzBY2pBxB8](zendo). I will try 2.5.0 in the meantime, just to check.

[2022-05-12 12:21] AlessioMilanese commented on #91
Can you post here the call that you do?

[2022-05-12 13:19] AlessioMilanese commented on #91
From the issue you get, it seems you are working on a gzip file. The problematic function is this:
[code]

You could try to change the code in `extend_mOTUs_DB/SCRIPTS//makePaddedMGdb.py` at line 312, and add `line = line.decode("utf-8")`. Like:

[code]

But it might be that there is a another problem underneath. Maybe with samtools? (since `output = samtools.stdout`)

[2022-05-12 15:01] Xentrics commented on #91
YES! That worked. I will check the rest of the test script, for completeness sake. But the script finished without further issue :)

[2022-05-12 19:55] jianhong opened #92 "help to create a small database for testing"
Hi @AlessioMilanese,

Thank you for the great tools! I am trying to create a subset of the testing database for the testing file involved in your current db. However, there are so many files involved in the current release. Is is possible you create a small database just for testing or could you share the scripts to create one?

Jianhong.

[2022-05-14 09:05] AlessioMilanese commented on #92
Hi Jianhong,

Happy to hear that you are interested in mOTUs!

I'm not sure what you are trying to do. In general the database is an integral part of the tool. As updates in the tool and in the database are done at the same time, and the current code would not work for example on the database version 2.5.0.

If you tell me more what you would like to test, I can see if I can help you.

[2022-05-16 14:06] jianhong commented on #92
@AlessioMilanese ,
Thank you for your quick reply. What I want is a small size database for testing and validation of the installation. If I understand right, the current testing files are included in the over 2G database via downloadDB. It will be great if you can help to generate a small size of testing data less than 50M to validate the basic function such as profile.

[2022-05-16 21:10] AlessioMilanese commented on #92
I see, but to run mOTUs you need the database anyway. In order to be able to profile all 33k species you need the actual DNA sequence of the genes.
Even if I would create a small database, you can test that it works, but you cannot run mOTUs. The big size of the database is not due to the test files, but it's because there are genes from more than 250,000 genomes.

[2022-05-16 21:20] jianhong commented on #92
Is it possible just create a database for the test data with limitated species and limited genes, for example only for covid19s?

[2022-05-16 21:23] AlessioMilanese commented on #92
Have a look at: https://github.com/AlessioMilanese/read_counter
You can provide sequences and run the profiler.

[2022-05-16 21:27] jianhong commented on #92
Will it also work for profile? I think there is mis-communication. I really want to validate the installation via a small mOTUs for the test samples like db_mOTU/db_mOTU_test/test1_single.fastq in your test.py script.

[2022-05-16 21:32] AlessioMilanese commented on #92
That's not possible, the mOTUs tool is composed of code and database together.

In the link I sent you, you can do also profiling.

[2022-05-16 21:34] jianhong commented on #92
Got it. Thank you for your time.

[2022-05-25 07:20] #91 closed

[2022-06-09 12:18] rjsorr opened #93 "list of taxa present in the mOTUs database?"
Hi, can you provide a link to the taxa included in the mOTUs database?
I'm considering using this tool, but before I use time downloading, installing, learning, running and interpreting I would like to know if it suits my goal? Basically I want to classify my reads to the superkingdom/kingdom level before focusing on bacteria, so simply % eukaryotes, virus, Archaea and Bacteria would be desired. B

[2022-06-09 13:43] AlessioMilanese commented on #93
Hi,
mOTUs can profile Archaea and Bacteria.

For the list of all clades check:
https://github.com/motu-tool/mOTUs/wiki/FAQ#4-where-can-i-find-the-taxonomy-annotation-for-each-motus

or if you can use R:
https://github.com/AlessioMilanese/motus_taxonomy
(`load(url("https://github.com/AlessioMilanese/motus_taxonomy/blob/master/data/motus_taxonomy_3.0.1.Rdata?raw=true"))`)

[2022-06-28 08:06] #93 closed

[2022-06-28 08:08] #57 closed

[2022-06-28 08:10] #83 closed

[2022-06-28 08:17] #59 closed

[2022-06-28 08:18] #51 closed

[2022-06-28 08:18] #92 closed

[2022-06-28 08:19] #90 closed, assigned to AlessioMilanese

[2022-06-28 08:19] #89 closed

[2022-06-28 08:20] #56 closed

[2022-06-28 08:21] #63 closed

[2022-07-07 17:26] AlessioMilanese commented on #48
Hi Carlos,

can you send me one or two of these reads?

Best,
alessio

[2022-07-08 06:23] Cantalapiedra commented on #48
I uploaded all the reads (actually, the SAM mappings; 74022) mapping to the genes (17) from a single MGC (ref_mOTU_v3_03673) which is not appearing after calc_mgc.

[reads_example_motus_no_mgc.sam.gz](https://github.com/motu-tool/mOTUs/files/9069356/reads_example_motus_no_mgc.sam.gz)

[2022-07-08 06:26] Cantalapiedra commented on #48
Thank you very much for the explanation.

However, after inspecting the mappings I uploaded I am not completely sure this is the case.

For example, the read "ST-K00119:198:HHCNHBBXY:7:1101:13017:33897.lane0/1" seems to be mapping uniquely to "refMG0012003.COG0172". It is true that its pair is mapping with flag 272 to the same gene, so I am not sure if this is enough to classify it as multiple map

[2022-07-08 06:41] Cantalapiedra commented on #48
Hi again,

From the file I uploaded before, I extracted the list of reads, and from this list I obtained all the mappings from those reads (i.e. those mapping to genes from any MGC).

[reads_example_motus_no_mgc.all_mappings.sam.gz](https://github.com/motu-tool/mOTUs/files/9069455/reads_example_motus_no_mgc.all_mappings.sam.gz)

I counted how many times I see each read, and none of them seem to be

[2022-07-08 07:49] AlessioMilanese commented on #48
I'm wondering if the problem is another one. I create a small fastq file (paired end) with the read you mentioned (`ST-K00119:198:HHCNHBBXY:7:1101:13017:33897`). And I run mOTUs with:
[code]

where I save the genes (`-I`), the MGCs (`-M`) and the mOTus (`-o`).

I see then that it is counted as a multiple mapper (from the motus log):
[code]

Now if we look at what genes it maps to (`samtools view t

[2022-07-08 08:09] Cantalapiedra commented on #48
Hi @AlessioMilanese ,

Thank you very much for testing this.

When I run it with all the reads it is not reported neither with -g 1 or -g 3 (obviously, since no MGC is reported after all).

So I guess (let me know if I am wrong), that what you suggest is that the problem is this one "It reports the MGC because even if there are not unique mappers (I put only one read), it maps to only 2 MGCs (if i

[2022-07-08 08:41] Cantalapiedra commented on #48
I checked whether the reads map to genes only from a single order. To do it fine I guess I should keep only the best mappings (discard those with lower identity, etc), but to make things easier I included all the hits. I obtained 2 orders though (Burkholderiales and Pseudomonadales, both from class Betaproteobacteria if I not mistaken).

I was wondering also now... if I had an sample with less seq

[2022-07-08 09:07] Cantalapiedra commented on #48
I checked my mappings for the same read, and I have the same results as you, so I wonder why I don't get any MGC count:

[code]

[2022-07-08 15:39] AlessioMilanese commented on #48
If I understand correctly, the MGC table is empty?
So if you run `motus profile -I test.MGC [...]`, then `test.MGC` is empty?

It seems there is a problem in the way the code is running. Can you try to run `motus profile --test`; the result should be:
[code]

[2022-08-23 06:28] AlessioMilanese commented on #84
We updated and improved the extender scripts, now they are available here:
https://github.com/motu-tool/mOTUs-extender

[2022-08-23 06:28] #84 closed

[2022-08-23 06:28] #88 closed

[2022-08-23 12:50] yhg926 commented on #87
Hi, I meet the same problem; and I have git clone mOTUs and  run python setup.py, here is the error reported:
python setup.py sdist
/home/ubt/miniconda3/lib/python3.9/site-packages/setuptools/dist.py:757: UserWarning: Usage of dash-separated 'description-file' will not be supported in future versions. Please use the underscore name 'description_file' instead
  warnings.warn(
running sdist
running

[2022-08-23 14:16] AlessioMilanese commented on #87
Can you try `pip install motu-profiler`? What does it says?

[2022-08-24 02:00] yhg926 commented on #87
just can't run  motus
(base) ubuntu@ip-172-31-36-88:~$  pip install motu-profiler
Requirement already satisfied: motu-profiler in ./miniconda3/lib/python3.9/site-packages/motu_profiler-3.0.3-py3.9.egg (3.0.3)
(base) ubuntu@ip-172-31-36-88:~$ motus downloadDB
Command 'motus' not found, did you mean:
  command 'lotus' from snap lotus (latest)
  command 'motes' from snap motes (6.3.3)
  command 'notu

[2022-08-24 10:35] hjruscheweyh commented on #87
Hi Both

You're using `pip` inside a `conda` environment. So my assumption is that you're using the local installation `pip` and not the `conda pip`. However you're using the `conda python`. So there is a disconnect on where `motus` is installed and by that cannot be found by `python`. Try to use `pip` inside `python` by using `python -m pip ...`. In this case it would be:

[code]

[2022-08-24 11:55] yhg926 commented on #87
After many tries, I have finally installed mOTUs. And I found the Version: 2.5.1 is not the latest version 3.*, so how can i update to the latest version?

[2022-08-24 21:41] AlessioMilanese commented on #87
I guess you installed with conda. You can try:
[code]

[2022-08-25 04:45] yhg926 commented on #87
It works, but i still need to download DB again when runs motus. However motus downloadDB always failed(maybe due to slow network), any solution for this ?
======here is the error reported================
motus downloadDB
 ------------------------------------------------------------------------------
|                              SETUP MOTUS TOOL                                |
 ----------------

[2022-08-25 05:03] AlessioMilanese commented on #87
It seems it is downloading really slow (87 KB/s).
I actually had the same problem for the first time 5 days ago.
The database is hosted on [zenodo](https://zenodo.org/record/5140350#.YwcCC_FBwbk), and apparently sometimes it is very slow.

When I tried again the day after it was downloading at 30 MB/s, and the whole database was downloaded after few minutes. Maybe you can try again in a day?
If th

[2022-08-26 06:40] yhg926 commented on #87
I have tried many times to download DB these two days and all failed. I think it is better to  change the location .

[2022-08-29 10:50] yhg926 commented on #87
I thought i have download motus3 until i saw "Version 2.6.0" when i run motus, though the motus script is under the motus-3.0.3 folder:

 python /home/ubt/miniconda3/pkgs/motus-3.0.3-pyhdfd78af_0/python-scripts/motus

Program: motus - a tool for marker gene-based OTU (mOTU) profiling
Version: 2.6.0
Reference: Milanese et al. Microbial abundance, activity and population genomic profiling with mOTUs

[2022-08-31 12:36] AlessioMilanese commented on #87
yes, you have mOTUs 2.6.0. You can check also with `motus --version`

Which for me returns:
[code]

It might be the python version the problem? Which python version are you using?

[2022-08-31 14:25] yhg926 commented on #87
Mine:
python ~/miniconda3/pkgs/motus-3.0.3-pyhdfd78af_0/python-scripts/motus --version
motus 2.6.0 on python 3.9.7.

so i still do not have motus3.0.3 ?  my install command is
conda install -c bioconda motus=3.0.3

how can i get real  motus3.0.3  then ?

[2022-08-31 14:51] AlessioMilanese commented on #87
I'm not sure what it is going wrong, but if you do:
[code]

where I get:
[code]

and here I see `motus-3.0.3` in the package list.

After installing you can do `conda activate motus3` (sometimes you need to do `source activate motus3`) to activate the environment.

And now you will have mOTUs3, which you can run just with `motus` (once the env is active).

[2022-08-31 14:57] yhg926 commented on #87
Mine:
$ conda create -n motus3 motus=3.0.3
Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - motus=3.0.3

Current

[2022-08-31 14:59] AlessioMilanese commented on #87
Can you try: `conda create -c bioconda -n motus3 motus=3.0.3` ?

[2022-09-01 02:17] yhg926 commented on #87
An unexpected error has occurred：
$ conda create -c bioconda -n motus3 motus=3.0.3
Collecting package metadata (current_repodata.json): done
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting package metadata (repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /home/ubt/miniconda3/envs/motu

[2022-09-01 09:14] AlessioMilanese commented on #87
I'm not sure what is happening there. But, since you have a working mOTUs 2.6 version, you can download a database (with mOTUs version 3) that I prepared for you in https://sunagawalab.ethz.ch/share/TEMP_MOTUS_DB/.

You can download with:
[code]

and unzip with:
[code]

Then you should be able to run it with:
[code]

where you should replace `/path/to/the/downloaded/db/` with the database reposito

[2022-09-01 09:23] yhg926 commented on #87
I have already downloaded motus-db_3.0.1.tar.gz previously, I am just not
sure if mOTUs 2.6  and mOTUs 3 will produce the same results if the
database is the same?

Alessio Milanese ***@***.***> 于2022年9月1日周四 17:14写道：

[2022-09-01 09:29] AlessioMilanese commented on #87
There were only minor changes between mOTUs 2.6 and mOTUs 3.0.
The naming of the mOTUs changed, and the taxonomy improved with version 3.0.1. But for 3.0.1 and 3.0.2 and 3.0.3 the results are the same.

So if you have mOTUs 2.6, you can use the database from 3.0.1 to run mOTUs.

[2022-09-06 19:56] tapj opened #95 "GTDB mOTUs taxonomy ?"
Hi,

Is there any plan to propose GTDB as alternative taxonomy to mOTUs?
if not, what would be your advice for generating GTDB taxonomy for mOTUs?

thank you,

Julien

[2022-09-08 08:19] AlessioMilanese commented on #95
Hi Julien,

Thanks for your interest!
We are working on it, but it will take a bit. We are currently annotating all genomes that were used to build mOTUs 3 with the latest version of GTDB-Tk. I will keep you updated!

Once we have the annotation, I could provide you the GTDB annotation for the mOTUs before we actually implement it in the code.

Best,
alessio

[2022-09-12 11:31] AlessioMilanese commented on #95
Please have a look here: https://github.com/motu-tool/mOTUs/wiki/GTDB-taxonomy-for-the-mOTUs

[2022-09-12 14:51] tapj commented on #95
Hi Alessio,

That's awsome, I am sure that other mOTU users will find it useful too.

I will use it for the following weeks and keep you updated if I find some issues.

Thank you very much,

Julien

[2022-09-12 14:51] #95 closed

[2022-09-15 01:36] luozhy88 opened #96 "I want to know where the database is downloaded and installed."
I want to know where the database is downloaded and installed.
![image](https://user-images.githubusercontent.com/94740863/190292889-84622f99-23d6-4875-b345-94c9c0cfefb3.png)

[2022-09-15 07:51] AlessioMilanese commented on #81
Here is the link for the extender: https://github.com/motu-tool/mOTUs-extender

[2022-09-15 07:56] #87 closed

[2022-09-15 08:01] hjruscheweyh commented on #96
Hi @luozhy88

mOTUs is installed as a python package into one of the `site-packages` folders - The exact location depends on the exact `pip` command. The database is in the subfolder of the mOTUs package folder.

Here is the command to find the location of the `site-packages`

[code]

Best,
Hans

[2022-09-21 14:46] luozhy88 commented on #96
good,Thanks!

[2022-09-21 17:15] #96 closed

[2022-09-23 19:53] TianyiChang opened #97 "missing GTDB classification for motus_3 ids"
Hi there

Thanks for providing a GTDB annotation file. It seems that many motus were missing from 'mOTUs_3.0.0_GTDB_tax.tsv', such as the below:

meta_mOTU_v3_13058
meta_mOTU_v3_13316
meta_mOTU_v3_13553
meta_mOTU_v3_13666
meta_mOTU_v3_13677
meta_mOTU_v3_13799
meta_mOTU_v3_14519

I was wondering if there are quality issues associated with these missing motus?

Thanks!

[2022-09-23 21:51] AlessioMilanese commented on #97
This meta-mOTUs have no genome or MAG, hence it was not possible to run GTDB-Tk.

I will fix the taxonomy next week (but basically for these there is no GTDB annotation).

[2022-09-23 21:57] TianyiChang commented on #97
Thank you so much for your quick reply! It seems a bit strange since some of my query genomes were assigned to these meta-mOTUs (there are 84 mOTUs in total in my case), which have no GTDB taxonomy information.

​

​I look forward to hearing back from you.

​

​Thanks again.

​

On Sep 23 2022, at 5:52 PM, Alessio Milanese  ***@***.***>  wrote:

[2022-10-11 09:19] cotillau opened #98 "Incomplete species annotation in the GTDB file?"
Hello Alessio,

Thank you so much for providing the GTDB mOTUs annotation file. There is something I do not understand about species annotation. There are, as you explain, some Not_annotated or Incongruent species, but all the others appear in the file to be the same as the genus (ie. missing the second part of the name). For example for ref_mOTU_v3_00001, we have:

ref_mOTU_v3_00001	d__Bacteria	p

[2022-10-11 21:16] AlessioMilanese commented on #98
There was an error when I updated the file. It is solved now.

Thanks for reporting!
Cheers,
alessio

[2022-10-11 21:19] AlessioMilanese commented on #97
The file it's updated now. We also added the GTDB annotation for each genome: https://zenodo.org/record/7146984#.Y0XdplJBwbk

[2022-10-11 21:20] AlessioMilanese commented on #98
FYI. We provide also the GTDB annotation for each genome at: https://zenodo.org/record/7146984#.Y0XdplJBwbk

[2022-10-11 21:20] #98 closed

[2022-10-11 21:24] TianyiChang commented on #97
Thanks a lot!!

​

On Oct 11 2022, at 5:19 PM, Alessio Milanese  ***@***.***>  wrote:

[2022-10-11 21:29] #97 closed

[2022-11-01 02:24] wwood opened #100 "Possible to cache DB?"
Hi,

I'm attempting to benchmark some different profilers, and as part of this, I'm copying the database (and reads) to local disk, so that the processes are less IO-bound and so there is less noise in the benchmark from random happenings of others on the HPC.

Is there a way to specify where the DB mOTUs should use is? Also, I was too lazy to look at the code - where does downloadDB actually put

[2022-11-01 07:00] AlessioMilanese commented on #100
Hi Ben,

You can use the `-db` command to specify the directory.

mOTUs is installed as a python package into one of the `site-packages` folders - The exact location depends on the exact `pip` command. The database is in the subfolder of the mOTUs package folder.

Here is the command to find the location of the `site-packages`

[code]

[2022-11-01 22:54] wwood commented on #100
Excellent, thanks.

-\-------------
Ben Woodcroft
Group leader, Centre for Microbiome Research, QUT
________________________________
From: Alessio Milanese ***@***.***>
Sent: Tuesday, November 1, 2022 5:00:45 PM
To: motu-tool/mOTUs ***@***.***>
Cc: Ben J Woodcroft ***@***.***>; Author ***@***.***>
Subject: Re: [motu-tool/mOTUs] Possible to cache DB? (Issue #100)

Hi Ben,

Is there a way to specif

[2022-11-01 22:55] #100 closed

[2022-11-14 14:00] valentynbez opened #102 "Improve header consistency for better machine parsing"
Example headers:
[code]
- Additional `#` in the first line before `git tag` should be removed
- Separators are different on both lines (mix of `:`, ` `, `|` & `_`), and it would be convenient to parse version info + call command and params simultaneously.

[2022-11-15 09:56] valentynbez opened #103 "Consistency for `taxonomy` and `full-taxonomy` output"
**Problem**:
- `motu profile` produces column `consensus_taxonomy` with `#mOTU` in squared brackets next to species name.
- `motu profile -q` produces columns `#mOTU` and `consensus_taxonomy` with taxonomy. They follow different schema.

**Proposed solution**: both commands produce table with `#mOTU` and `consensus_taxonomy` columns.

[2022-11-15 11:59] AlessioMilanese commented on #103
Example result using `-p`:
[code]

If the result with two columns is not easy to import in qiime, then we do not implement the `-p` in qiime.

[2022-11-15 12:09] valentynbez commented on #103
Example of output with `-q`
[code]
I think it's better to have a consistent number of columns, meaning separating the output in the column `#consensus_taxonomy` in your case.

[2022-11-15 14:40] Xentrics commented on #69
Hello :)
I would like to ask if there has been any progress in making taxonomic tress, in particular for mOTUs3?
Or is there some way to infer them from the database itself?

[2022-11-15 14:45] AlessioMilanese commented on #69
We are working on it. I will keep you updated.

[2022-11-18 03:51] zhaoxvwahaha opened #104 "is mOTUs suitable for Metatranscriptome sequence?"
Can I use mOTUs to identify microbiome in Metatranscriptome sequence? And does mOTUs already include binning process? Do I still need binning after get the mOTUs results?

[2022-11-18 09:14] AlessioMilanese commented on #104
Hi @zhaoxvwahaha,

You can use mOTUs to do taxonomic profiling of metatranscriptome samples. In other words you can use mOTUs to identify which species are present and their relative abundance. In our paper we showed that mOTUs is well suited to do this, compared to other tools: https://www.nature.com/articles/s41467-019-08844-4/figures/4

No. The input for mOTUs is one or multiple fastq files.

N

[2022-11-18 14:42] fplaza opened #105 "Inconsistencies in the mOTUs3 - genome metadata"
Hello,

I have downloaded the mOTUs3 - genome metadata file on Zenodo.
I have noticed that some mOTUs correspond to genomes with GTDB annotation completely different.

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet

[2022-11-21 11:19] hjruscheweyh commented on #105
Hi @fplaza

Thank you for using mOTUs.

You're right. There are some issues with a small number of clusters in the mOTUs mapping file. We're currently working on resolving these issues and will release a new mapping file soon. Keep in mind that this issues does NOT influence the mOTUs database but only the mapping file as the reported genomes are only associated to a mOTUs cluster but their genes

[2022-11-21 12:29] fplaza commented on #105
Thanks Hans. Could you tell me what is the correct annotation for ref_mOTU_v3_01070?

[2022-11-21 12:38] hjruscheweyh commented on #105
try

[code]

[2022-11-27 04:36] ucassee opened #106 "no abundance"
Hi,

I use the following command to run mOTUs, but it seems that no reads are mapped to the reference database.

`motus profile -s ANT29P4-06_1.fastq -n ANT29P4-06  -t 40 -q -o ANT29P4-06_taxonomy_profile.txt`

My sample is from Antarctic Pole. The length of my reads is 150bp. I attached the output file. I was wondering whether this result is normal.
[ANT29P4-06_taxonomy_profile.txt](https://githu

[2022-11-27 09:37] AlessioMilanese commented on #106
Hi,

You can see with the command:
[code]

the species that are not zero. You have 52 ref-mOTUs, 1 meta-mOTU and 56 ext-mOTUs, plus the `unassigned`.

[2022-11-28 17:10] AlessioMilanese commented on #106
Nice! Thanks for your interest in mOTUs.
Let us know if everything works out.

[2022-11-28 17:10] #106 closed